<main>
    <ng-include src="'demo/partials/global/header.html'"></ng-include>
    
    <div class="container">
        <ul class="dvcss-breadcrumb breadcrumb" ng-include src="'demo/partials/global/breadcrumb.html'" ng-switch on="pageName"></ul>
        
        <div class="dvcss-page-header">
            <h1 class="animated pulse">Explore Components <small>Global Components</small></h1>
        </div>
    </div>
    
    <div class="container">
        
        <!-- Peptasia
        =============================================== -->
        <div class="panel panel-default panel-lg hide">
            <div class="panel-body">
                <div class="inner-content">
                    <div class="dvcss-content-title">
                        Form Basic
                    </div>
                    
                    <ng-include src="'demo/partials/components/peptasia.html'"></ng-include>
                </div>
            </div>
        </div>
        
        <!-- Buttons
        =============================================== -->
        <div class="panel panel-default panel-lg hide">
            <div class="panel-body">
                <div class="inner-content">
                    <div class="dvcss-content-title">
                        Buttons
                    </div>
                    
                    <ng-include src="'demo/partials/components/buttons.html'"></ng-include>
                </div>
            </div>
        </div>
        
        <!-- Listing Group
        =============================================== -->
        <div class="panel panel-default panel-lg hide">
            <div class="panel-body">
                <div class="inner-content">
                    <div class="dvcss-content-title">
                        Listing Group
                    </div>
                    
                    <ng-include src="'demo/partials/components/listing-group.html'"></ng-include>
                </div>
            </div>
        </div>
        
        <div class="panel panel-default panel-lg hide">
            <div class="panel-body">
                <div class="inner-content">
                    <div class="dvcss-content-title">
                        Example page header
                    </div>
                    
                    <!-- Panel Form
                    =============================================== -->
                    
                    <ng-include src="'demo/partials/components/panel-form.html'"></ng-include>
                    
                    <!-- Illustrative Icons
                    =============================================== -->
                    
                    <!-- Jewels
                    =============================================== -->
                    
                    <!-- Nav Tabs
                    =============================================== -->
                    
                    <!-- List Helpers
                    =============================================== -->
                    
                    <!-- CTA
                    =============================================== -->
                    
                    <!-- Nav Tabs
                    =============================================== -->
                    
                    <!-- Breadcrumbs
                    =============================================== -->

                    <!--  Story Cards
                    =============================================== -->
                    
                    <!--  Registration Footer
                    =============================================== -->
                    
                    <!--  Disclaimer
                    =============================================== -->
                    
                    <!--  Calendar
                    =============================================== -->      
                </div>
            </div>
        </div>
    </div>
</main>
