<ng-include src="'partials/global/header.html'"></ng-include>
 
<main>
    <div class="container">
        
        <div class="dvx-content">
            <div class="dvx-content-header">
                <ul class="dvx-breadcrumb breadcrumb" ng-include src="'partials/global/breadcrumb.html'" ng-switch on="pageName"></ul>
                
                <h1 class="dvx-content-header-title">PEP Form</h1>
            </div>
            
            <div class="dvx-content-body panel panel-primary">
                <div class="panel-body">
                    <div class="dvx-page-header page-header">
                      <h1>Example page header <small>Subtext for header</small></h1>
                    </div>
                    
                    <div class="dvx-content-inner">
                        <div class="dvx-row">
                            <div class="col-sm-3 col-sm-push-9">
                                &nbsp;
                            </div>
                            
                            <div class="col-sm-9 col-sm-pull-3">
                            
                                <section>
                                    <div class="page-header">
                                        <h2>Peptasia</h2>
                                    </div>
                                </section>
                            
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="panel-footer">
                    <div class="text-center">
                        <button class="btn btn-link btn-lg">
                            <strong>View More Results</strong>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>