<main class="bg-primary" style="color: #253b56;">
    <ng-include src="'partials/global/header.html'"></ng-include>
    
    <div class="container">
        <ul class="dvcss-breadcrumb breadcrumb" ng-include src="'partials/global/breadcrumb.html'" ng-switch on="pageName"></ul>
        
        <div class="dvcss-page-header">
            <h1 class="animated pulse">Explore Components <small>Global Components</small></h1>
        </div>
    </div>
    
    <div class="container">
        <div class="panel panel-default panel-lg">
            <div class="panel-body">
                <div class="inner-content">
                    <div class="dvcss-content-title">
                        Form Basic
                    </div>
                    
                    <!-- Form Basic
                    =============================================== -->
                    
                    <ng-include src="'partials/components/form-basic.html'"></ng-include>
                    
                </div>
            </div>
        </div>
        
        <div class="panel panel-default panel-lg">
            <div class="panel-body">
                <div class="inner-content">
                    <div class="dvcss-content-title">
                        Form Inline
                    </div>
                    
                    <!-- Form Inline
                    =============================================== -->
                    
                    <ng-include src="'partials/components/form-inline.html'"></ng-include>
                    
                </div>
            </div>
        </div>
        
        <div class="panel panel-default panel-lg">
            <div class="panel-body">
                <div class="inner-content">
                    <div class="dvcss-content-title">
                        Select
                    </div>
                    
                    <!-- Select
                    =============================================== -->
                    
                    <ng-include src="'partials/components/form-select.html'"></ng-include>
                    
                </div>
            </div>
        </div>
    </div>
</main>


