<ng-include src="'partials/global/header.html'"></ng-include>
 
<main>
    <section>
        <div class="text-center">
            <div class="jumbotron" style="background: rgba(255,255,255, 0.3);">
                <br /> <br /> <br /> <br />
                
                <h1 class="animated swing">Disney Vacation Club</h1>
                <p class="animated flash">User Interface</p>
                <p><a class="btn btn-default btn-lg" href="#/components" role="button">Continue</a></p>
                
                <br /> <br /> <br /> <br />
            </div>
        </div>
    </section>
</main>