<ng-include src="'demo/partials/global/header.html'"></ng-include>

<main>
    <div class="container">
        <ul class="breadcrumb" ng-include src="'demo/partials/global/breadcrumb.html'" ng-switch on="pageName"></ul>
        
        <div class="page-header">
            <h1 class="animated pulse">Plugins</h1>
        </div>
    </div>
    
    <div class="container">
        <div ng-switch on="pageName">
            <!-- Buttons
            =============================================== -->
            <div ng-switch-when="swiper">
                <ng-include src="'demo/partials/plugins/swiper.html'"></ng-include>
            </div>
            
            <div ng-switch-default>
                <ng-include src="'demo/partials/errors/404.html'"></ng-include>
            </div>
        </div>
    </div>
</main>