<main ref="LoginPage" id="LoginPage" class="page">
    <div class="section-sm">
        <div class="container">
            <h1 class="text-center h2">
                <strong class="animated pulse">
                    Sign in to continue
                </strong>
            </h1>
            
            <div class="loginFormSocial text-center">
                <a
                    href="javascript:void(0)"
                    class="btn btn-social btn-facebook"
                >
                    <i class="fa fa-facebook" /> Sign in with Facebook
                </a>
                
                <a
                    href="/req/auth/facebook"
                    class="btn btn-social btn-google"
                >
                    <i class="fa fa-google" /> Sign in with Google
                </a>
            </div>
            
            <br aria-hidden="true" />
                    
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
                    <div class="well well-lg animated fadeIn">
                        <ng-include src="'templates/auth/LoginForm.html'"></ng-include>

                        <div class="clearfix">
                            <br aria-hidden="true" />
                            
                            <a href="javascript:void(0)" class="pull-right">
                                Forgot Password?
                            </a>
                        </div>
                    </div>

                    <div class="text-center">
                        <a href="javascript:void(0);" class="btn btn-success">
                            Join us for free
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <ng-include src="'components/templates/global/Footer.html'"></ng-include>
</main>
