<!-- Date Carousel
=============================================== -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Date Carousel</h3>
    </div>
    <div id="date_carousel" class="panel-body">
        
        <div class="daypicker-carousel"
            data-date="12/23/2015"
            data-mindate="12/20/2015"
            data-maxdate="02/14/2016">
            <div class="daypicker-carousel-header">
                <strong class="daypicker-carousel-item-month">November</strong>
                <span class="daypicker-carousel-item-year">2015</span>
                
                <button type="button" class="daypicker-carousel-toggle btn btn-link">
                    <i class="peptasia peptasia-calendar"></i>
                </button>
            </div>

            <div id="dayCarousel" class="daypicker-carousel-body">
                
                <div class="daypicker-carousel-item">
                    <div class="daypicker-carousel-item-date">
                        <div class="daypicker-carousel-item-day-name">Sat</div>
                        <div class="daypicker-carousel-item-day-month"><div>21</div></div>
                    </div>
                    <div class="aoeu"></div>
                </div>
                
                <div class="daypicker-carousel-item">
                    <div class="daypicker-carousel-item-date">
                        <div class="daypicker-carousel-item-day-name">Sun</div>
                        <div class="daypicker-carousel-item-day-month"><div>22</div></div>
                    </div>
                    <div class="aoeu"></div>
                </div>
                
                <div class="daypicker-carousel-item">
                    <div class="daypicker-carousel-item-date">
                        <div class="daypicker-carousel-item-day-name">Mon</div>
                        <div class="daypicker-carousel-item-day-month"><div>23</div></div>
                    </div>
                    <div class="aoeu"></div>
                </div>
                
                <div class="daypicker-carousel-item">
                    <div class="daypicker-carousel-item-date active">
                        <div class="daypicker-carousel-item-day-name">Tue</div>
                        <div class="daypicker-carousel-item-day-month"><div>24</div></div>
                    </div>
                    <div class="aoeu"></div>
                </div>
                
                <div class="daypicker-carousel-item">
                    <div class="daypicker-carousel-item-date">
                        <div class="daypicker-carousel-item-day-name">Wed</div>
                        <div class="daypicker-carousel-item-day-month"><div>25</div></div>
                    </div>
                    <div class="aoeu"></div>
                </div>
                
                <div class="daypicker-carousel-item">
                    <div class="daypicker-carousel-item-date">
                        <div class="daypicker-carousel-item-day-name">Thu</div>
                        <div class="daypicker-carousel-item-day-month"><div>26</div></div>
                    </div>
                    <div class="aoeu"></div>
                </div>
                
            </div>
        </div>
    </div>
</div>
