<!-- Form Basic
=============================================== -->

<div id="form-basic" class="panel-body">
    <div class="dvcss-row">
        <div class="col-sm-6">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input type="file" id="exampleInputFile">
                <p class="help-block">Example block-level help text here.</p>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Check me out
                </label>
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
        
        <div class="col-sm-6">
            <form class="uiPlus">
                <div class="dvui-fieldset-col">
                    <div id="activationCodeid-base" class="jsvfElement formInputElement long" data-plugins=" [&quot;pepClientSideValidatorToggle&quot;]">
                        <label class="required" for="activationCode">
                            Activation Code
                        </label>
                        
                        <div class="textInput standardFormElement long">
                            <input type="password"
                                name="activationCode"
                                id="activationCode"
                                autocapitalize="none"
                                autocomplete="off"
                                data-row_label="account"
                                data-information-icon="1"
                                class="inputElement was-visited"
                                data-errorappendselector=".textInput"
                                aria-label="Activation Code"
                                value="" />
                            </div>
                    </div>                               
                </div>
            </form>
        </div>
        
    </div>
</div>