<!-- Peptasia
=============================================== -->

<div id="form-basic" class="panel-body">
    <div class="dvcss-row">
        <div class="col-sm-6">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <select class="form-control">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                </div>
            </form>
        </div>
        
        <div class="col-sm-6">
            <div id="addressCountryid-base" class="jsvfElement formInputElement      long" data-plugins=" [&quot;pepClientSideValidatorToggle&quot;]">
                <label class="required" id="addressCountry-label" for="addressCountry">
                    Country<span class="accessibleAltText">&nbsp;required</span>
                </label>
                
                <span id="phoneType-wrapper" class="selectBox standardFormElement phoneType status-closed error" data-plugins="[&quot;pepSelectBox&quot;]"><span class="selectBox-nojs"><select type="select" name="phoneType" id="phoneType" class="inputElement phoneType" required="" data-validators="[[[&quot;NotEmpty&quot;,&quot;true&quot;,null,{&quot;isEmpty&quot;:&quot;Please select Phone Type&quot;,&quot;notEmptyInvalid&quot;:&quot;Please select Phone Type&quot;}]]]" aria-label="Phone Type" style="-webkit-appearance: none; background-image: none;" aria-invalid="true" aria-describedby="phoneType-validationError"><option value="">Select</option>
<option value="Home">Home</option>
<option value="Work">Work</option>
<option value="Cell">Cell</option>
<option value="Other">Other</option>
<option value="Other 2">Other 2</option><optgroup label=""></optgroup></select></span><span class="richSelectArrowIcon"></span></span>
                
                
                
                
                
            </div>
    </div>
</div>