<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">List Group</h3>
    </div>
    
    <div id="list-group" class="panel-body">
    
        <ul class="pep2-listing-group">
            <li class="pep2-listing-item">
                <div class="media">
                    <div class="media-left pep2-listing-item-media">
                        <a href="#" class="hidden-xs">
                            <img class="media-object"
                                data-src="holder.js/64x64"
                                alt="64x64"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                data-holder-rendered="true"
                                style="width: 170px; height: 96px;" />
                        </a>
                        <div class="visible-xs-block text-muted lead">
                            <div class="">
                                <strong>2:00pm</strong>
                            </div>
                            <div>
                                to 4:00pm
                            </div>
                        </div>
                    </div>
                    
                    <div class="media-body pep2-listing-item-body">
                        <a href="#/components">
                            <h4 class="media-heading pep2-listing-item-heading">
                                Epcot International Food and Wine Festival
                            </h4>
                            
                            <div class="media">
                                <div class="media-left pep2-listing-item-body-left">
                                    <div class="pep2-listing-item-description">
                                        Epcot Animal Lodge
                                    </div>
                                    
                                    <div class="pep2-listing-item-disclaimer">
                                        <em class="text-muted">Reservation Required</em>
                                    </div>
                                    
                                    <div class="pep2-listing-item-description">
                                        <i class="peptasia peptasia-all-parks-and-resorts"></i> Exclusively for Members and their guests
                                    </div>
                                </div>
                                
                                <div class="media-body pep2-listing-item-body-right hidden-xs">
                                    <div class="lead">7:30 AM - 10:00 PM</div>
                                </div>
                            </div>
                            
                            <div class="pep2-listing-badge bg-warning hidden-xs">
                                <div>
                                    Featured Event
                                </div>
                            </div>
                            <i class="peptasia peptasia-next pep2-listing-item-caret"></i>
                        </a>
                    </div>
                </div>
            </li>
            <li class="pep2-listing-item">Dapibus ac facilisis in</li>
            <li class="pep2-listing-item">Morbi leo risus</li>
        </ul>
    </div>
</div>