<main ng-controller="materialColorsController">
    <div class="page-header">
        <h2 id="colors" class="animated pulse">
            Colors <small>MaterializeCSS</small>
        </h2>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">UI Color Palette</h3>
        </div>
        
        <div class="panel-body">
            <div class="bs-docs-section">
                <div class="row">
                    <div class="col-xs-6 col-sm-3">
                        <ul class="list-unstyled">
                            <li class="panel-body bg-red text-light">
                                Red
                            </li>
                            
                            <li ng-repeat="color in colors.red"
                                ng-bind-html-unsafe="color.code"
                                class="panel-body bg-{{ color.code }} {{ color.textColor }}">
                                <small class="pull-right">{{ color.hex }}</small>
                                <span>{{ color.code }}</span>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="col-xs-6 col-sm-3">
                        <ul class="list-unstyled">
                            <li class="panel-body bg-pink text-light">
                                Pink
                            </li>
                            
                            <li ng-repeat="color in colors.pink"
                                ng-bind-html-unsafe="color.code"
                                class="panel-body bg-{{ color.code }} {{ color.textColor }}">
                                <small class="pull-right">{{ color.hex }}</small>
                                <span>{{ color.code }}</span>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="col-xs-6 col-sm-3">
                        <ul class="list-unstyled">
                            <li class="panel-body bg-purple text-light">
                                Purple
                            </li>
                            
                            <li ng-repeat="color in colors.purple"
                                ng-bind-html-unsafe="color.code"
                                class="panel-body bg-{{ color.code }} {{ color.textColor }}">
                                <small class="pull-right">{{ color.hex }}</small>
                                <span>{{ color.code }}</span>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="col-xs-6 col-sm-3">
                        <ul class="list-unstyled">
                            <li class="panel-body bg-deepPurple text-light">
                                Deep Purple
                            </li>
                            
                            <li ng-repeat="color in colors.deepPurple"
                                ng-bind-html-unsafe="color.code"
                                class="panel-body bg-{{ color.code }} {{ color.textColor }}">
                                <small class="pull-right">{{ color.hex }}</small>
                                <span>{{ color.code }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-6 col-sm-3">
                        <ul class="list-unstyled">
                            <li class="panel-body bg-indigo text-light">
                                Indigo
                            </li>
                            
                            <li ng-repeat="color in colors.indigo"
                                ng-bind-html-unsafe="color.code"
                                class="panel-body bg-{{ color.code }} {{ color.textColor }}">
                                <small class="pull-right">{{ color.hex }}</small>
                                <span>{{ color.code }}</span>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="col-xs-6 col-sm-3">
                        <ul class="list-unstyled">
                            <li class="panel-body bg-blue text-light">
                                Blue
                            </li>
                            
                            <li ng-repeat="color in colors.blue"
                                ng-bind-html-unsafe="color.code"
                                class="panel-body bg-{{ color.code }} {{ color.textColor }}">
                                <small class="pull-right">{{ color.hex }}</small>
                                <span>{{ color.code }}</span>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="col-xs-6 col-sm-3">
                        <ul class="list-unstyled">
                            <li class="panel-body bg-lightBlue text-light">
                                Light Blue
                            </li>
                            
                            <li ng-repeat="color in colors.lightBlue"
                                ng-bind-html-unsafe="color.code"
                                class="panel-body bg-{{ color.code }} {{ color.textColor }}">
                                <small class="pull-right">{{ color.hex }}</small>
                                <span>{{ color.code }}</span>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="col-xs-6 col-sm-3">
                        <ul class="list-unstyled">
                            <li class="panel-body bg-cyan text-light">
                                Cyan
                            </li>
                            
                            <li ng-repeat="color in colors.cyan"
                                ng-bind-html-unsafe="color.code"
                                class="panel-body bg-{{ color.code }} {{ color.textColor }}">
                                <small class="pull-right">{{ color.hex }}</small>
                                <span>{{ color.code }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-6 col-sm-3">
                        <ul class="list-unstyled">
                            <li class="panel-body bg-teal text-light">
                                Teal
                            </li>
                            
                            <li ng-repeat="color in colors.teal"
                                ng-bind-html-unsafe="color.code"
                                class="panel-body bg-{{ color.code }} {{ color.textColor }}">
                                <small class="pull-right">{{ color.hex }}</small>
                                <span>{{ color.code }}</span>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="col-xs-6 col-sm-3">
                        <ul class="list-unstyled">
                            <li class="panel-body bg-green text-light">
                                Green
                            </li>
                            
                            <li ng-repeat="color in colors.green"
                                ng-bind-html-unsafe="color.code"
                                class="panel-body bg-{{ color.code }} {{ color.textColor }}">
                                <small class="pull-right">{{ color.hex }}</small>
                                <span>{{ color.code }}</span>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="col-xs-6 col-sm-3">
                        <ul class="list-unstyled">
                            <li class="panel-body bg-lightGreen text-light">
                                Light Green
                            </li>
                            
                            <li ng-repeat="color in colors.lightGreen"
                                ng-bind-html-unsafe="color.code"
                                class="panel-body bg-{{ color.code }} {{ color.textColor }}">
                                <small class="pull-right">{{ color.hex }}</small>
                                <span>{{ color.code }}</span>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="col-xs-6 col-sm-3">
                        <ul class="list-unstyled">
                            <li class="panel-body bg-lime text-light">
                                Lime
                            </li>
                            
                            <li ng-repeat="color in colors.lime"
                                ng-bind-html-unsafe="color.code"
                                class="panel-body bg-{{ color.code }} {{ color.textColor }}">
                                <small class="pull-right">{{ color.hex }}</small>
                                <span>{{ color.code }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-6 col-sm-3">
                        <ul class="list-unstyled">
                            <li class="panel-body bg-yellow text-light">
                                Yellow
                            </li>
                            
                            <li ng-repeat="color in colors.yellow"
                                ng-bind-html-unsafe="color.code"
                                class="panel-body bg-{{ color.code }} {{ color.textColor }}">
                                <small class="pull-right">{{ color.hex }}</small>
                                <span>{{ color.code }}</span>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="col-xs-6 col-sm-3">
                        <ul class="list-unstyled">
                            <li class="panel-body bg-amber text-light">
                                Amber
                            </li>
                            
                            <li ng-repeat="color in colors.amber"
                                ng-bind-html-unsafe="color.code"
                                class="panel-body bg-{{ color.code }} {{ color.textColor }}">
                                <small class="pull-right">{{ color.hex }}</small>
                                <span>{{ color.code }}</span>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="col-xs-6 col-sm-3">
                        <ul class="list-unstyled">
                            <li class="panel-body bg-orange text-light">
                                Orange
                            </li>
                            
                            <li ng-repeat="color in colors.orange"
                                ng-bind-html-unsafe="color.code"
                                class="panel-body bg-{{ color.code }} {{ color.textColor }}">
                                <small class="pull-right">{{ color.hex }}</small>
                                <span>{{ color.code }}</span>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="col-xs-6 col-sm-3">
                        <ul class="list-unstyled">
                            <li class="panel-body bg-deepOrange text-light">
                                Deep Orange
                            </li>
                            
                            <li ng-repeat="color in colors.deepOrange"
                                ng-bind-html-unsafe="color.code"
                                class="panel-body bg-{{ color.code }} {{ color.textColor }}">
                                <small class="pull-right">{{ color.hex }}</small>
                                <span>{{ color.code }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-6 col-sm-3">
                        <ul class="list-unstyled">
                            <li class="panel-body bg-brown text-light">
                                Brown
                            </li>
                            
                            <li ng-repeat="color in colors.brown"
                                ng-bind-html-unsafe="color.code"
                                class="panel-body bg-{{ color.code }} {{ color.textColor }}">
                                <small class="pull-right">{{ color.hex }}</small>
                                <span>{{ color.code }}</span>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="col-xs-6 col-sm-3">
                        <ul class="list-unstyled">
                            <li class="panel-body bg-blueGrey text-light">
                                Blue Grey
                            </li>
                            
                            <li ng-repeat="color in colors.blueGrey"
                                ng-bind-html-unsafe="color.code"
                                class="panel-body bg-{{ color.code }} {{ color.textColor }}">
                                <small class="pull-right">{{ color.hex }}</small>
                                <span>{{ color.code }}</span>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="col-xs-6 col-sm-3">
                        <ul class="list-unstyled">
                            <li class="panel-body bg-grey text-light">
                                Grey
                            </li>
                            
                            <li ng-repeat="color in colors.grey"
                                ng-bind-html-unsafe="color.code"
                                class="panel-body bg-{{ color.code }} {{ color.textColor }}">
                                <small class="pull-right">{{ color.hex }}</small>
                                <span>{{ color.code }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</main>
