.btn-default {
    & {
        background-color: #fff;
        border-color: #bdc6cf;
        color: #7991ad;
    }
    
    &.active,
    &:active,
    &:hover,
    .open > &.dropdown-toggle {
        background-color: #eee;
        border-color: #bdc6cf;
        color: #7991ad;
    }
    
    &.active.focus,
    &.active:focus,
    &.active:hover,
    &:active.focus,
    &:active:focus,
    &:active:hover,
    .open > &.dropdown-toggle.focus,
    .open > &.dropdown-toggle:focus,
    .open > &.dropdown-toggle:hover {
        background-color: #eee;
        border-color: #bdc6cf;
        color: #7991ad;
    }
}

.btn-muted {
    & {
        background-color: #e6ebf1;
        border-color: #bdc6cf;
        color: #61676a;
    }
    
    &.active,
    &:active,
    &:hover,
    .open > &.dropdown-toggle {
        background-color: #e0e5eb;
        border-color: #bdc6cf;
        color: #61676a;
    }
    
    &.active.focus,
    &.active:focus,
    &.active:hover,
    &:active.focus,
    &:active:focus,
    &:active:hover,
    .open > &.dropdown-toggle.focus,
    .open > &.dropdown-toggle:focus,
    .open > &.dropdown-toggle:hover {
        background-color: #e0e5eb;
        border-color: #bdc6cf;
        color: #61676a;
    }
}

.btn-primary {
    & {
        background-color: #4da3ff;
        border-color: #3d81ff;
    }
    
    &.active,
    &:active,
    &:hover,
    .open > &.dropdown-toggle {
        background-color: #479df9;
        border-color: #3d81ff;
    }
    
    &.active.focus,
    &.active:focus,
    &.active:hover,
    &:active.focus,
    &:active:focus,
    &:active:hover,
    .open > &.dropdown-toggle.focus,
    .open > &.dropdown-toggle:focus,
    .open > &.dropdown-toggle:hover {
        background-color: #479df9;
        border-color: #3d81ff;
        color: #fff;
    }
}

.btn-success {
    & {
        background-color: #52a900;
        border-color: #3d8100;
    }
    
    &.active,
    &:active,
    &:hover,
    .open > &.dropdown-toggle {
        background-color: #4ca300;
        border-color: #3d8100;
    }
    
    &.active.focus,
    &.active:focus,
    &.active:hover,
    &:active.focus,
    &:active:focus,
    &:active:hover,
    .open > &.dropdown-toggle.focus,
    .open > &.dropdown-toggle:focus,
    .open > &.dropdown-toggle:hover {
        background-color: #4ca300;
        border-color: #3d8100;
        color: #fff;
    }
}

.btn-info {
    & {
        background-color: #ff52ff;
        border-color: #bf3aff;
        color: #fff;
    }
    
    &.active,
    &:active,
    &:hover,
    .open > &.dropdown-toggle {
        background-color: #f94cf9;
        border-color: #bf3aff;
        color: #fff;
    }
    
    &.active.focus,
    &.active:focus,
    &.active:hover,
    &:active.focus,
    &:active:focus,
    &:active:hover,
    .open > &.dropdown-toggle.focus,
    .open > &.dropdown-toggle:focus,
    .open > &.dropdown-toggle:hover {
        background-color: #f94cf9;
        border-color: #bf3aff;
        color: #fff;
    }
}

.btn-warning {
    & {
        background-color: #ffd850;
        border-color: #e8ad43;
        color: #8a6d3b;
    }
    
    &.active,
    &:active,
    &:hover,
    .open > &.dropdown-toggle {
        background-color: #f9d24a;
        border-color: #e8ad43;
        color: #8a6d3b;
    }
    
    &.active.focus,
    &.active:focus,
    &.active:hover,
    &:active.focus,
    &:active:focus,
    &:active:hover,
    .open > &.dropdown-toggle.focus,
    .open > &.dropdown-toggle:focus,
    .open > &.dropdown-toggle:hover {
        background-color: #f9d24a;
        border-color: #e8ad43;
        color: #8a6d3b;
    }
}

.btn-danger {
    & {
        background-color: #ff5252;
        border-color: #bf3a3a;
    }
    
    &.active,
    &:active,
    &:hover,
    .open > &.dropdown-toggle {
        background-color: #f94c4c;
        border-color: #bf3a3a;
    }
    
    &.active.focus,
    &.active:focus,
    &.active:hover,
    &:active.focus,
    &:active:focus,
    &:active:hover,
    .open > &.dropdown-toggle.focus,
    .open > &.dropdown-toggle:focus,
    .open > &.dropdown-toggle:hover {
        background-color: #f94c4c;
        border-color: #bf3a3a;
        color: #fff;
    }
}
