.panel {
    background-color: #ecf0f1;
}

.panel-default {
    background-color: #fff;
    border-color: #bdc6cf;
    
    & > .panel-heading {
        color: #333;
        background-color: #e3e9f0;
        border-color: #bdc6cf;
    }
    
    & > .panel-footer {
        background-color: #e7ecf2;
        border-color: #bdc6cf;
    }
}

.panel-primary {
    background-color: #ecf0f1;
    border-color: #ecf0f1;
    
    & > .panel-heading {
        color: #fff;
        background-color: #1abc9c;
        border-color: #1abc9c;
    }
    
    & > .panel-footer {
        background-color: #bdc3c7;
        border-color: #bdc3c7;
    }
}

.panel-info {
    background-color: #ecf0f1;
    border-color: #ecf0f1;
    
    & > .panel-heading {
        color: #fff;
        background-color: #3498DB;
        border-color: #3498DB;
    }
    
    & > .panel-footer {
        background-color: #bdc3c7;
        border-color: #bdc3c7;
    }
}

.panel-success {
    background-color: #ecf0f1;
    border-color: #ecf0f1;
    
    & > .panel-heading {
        color: #fff;
        background-color: #2ECC71;
        border-color: #2ECC71;
    }
    
    & > .panel-footer {
        background-color: #bdc3c7;
        border-color: #bdc3c7;
    }
}

.panel-warning {
    background-color: #ecf0f1;
    border-color: #ecf0f1;
    
    & > .panel-heading {
        color: #fff;
        background-color: #F1C40F;
        border-color: #F1C40F;
    }
    
    & > .panel-footer {
        background-color: #bdc3c7;
        border-color: #bdc3c7;
    }
}

.panel-danger {
    background-color: #ecf0f1;
    border-color: #ecf0f1;
    
    & > .panel-heading {
        color: #fff;
        background-color: #E74C3C;
        border-color: #E74C3C;
    }
    
    & > .panel-footer {
        background-color: #bdc3c7;
        border-color: #bdc3c7;
    }
}

.well {
    background-color: #f4f6f7;
    border-color: #bdc6cf;
}

.dropdown-menu {
    background-color: #fff;
    border-color: #bdc6cf;
    
    & > li {
        & > a:hover,
        & > a:focus {
            background-color: #4da3ff;
            color: #fff;
        }
        
        &.active > a,
        &.active > a:focus,
        &.active > a:hover {
            background-color: #4da3ff;
            border: 1px solid #3d81ff;
            color: #fff;
        }
    }
    
    & .divider {
        background-color: #bdc6cf;
    }
}




