.bg-muted {
    background-color: #e7ecf2;
}

.bg-primary {
    background-color: #d9edff;
    color: $text-color;
}

.bg-success {
    background-color: #d9edbf;
}

.bg-info {
    background-color: #ffd9ff;
}

.bg-warning {
    background-color: #fef9d0;
}

.bg-danger {
    background-color: #ffd9d9;
}