.progress {
    background: #ebedef;
    box-shadow: none;
}

.progress-bar {
    background: #4aa0ff;
    box-shadow: none;
}

.progress-bar-warning {
    background-color: #f1c40f;
}

.progress-bar-danger {
    background-color: #e74c3c;
}

.progress-bar-success {
    background-color: #2ecc71;
}

.progress-bar-info {
    background-color: #3498db;
}