<footer>
    <hr aria-hidden="true" />
    
    <div class="container">
        <p>
            This project is maintained by
            <a href="https://github.com/jackhummah">jackhummah</a>
        </p>
        
        <p>
            <small>
                Hosted on GitHub Pages &mdash; Theme by
                <a
                    href="http://www.twitter.com/randelltuazon"
                    target="_blank"
                >
                    @randelltuazon
                </a>
            </small>
        </p>
    </div>
</footer>