body {
    background-color: #e9f0f5;
    color: #5a6368;
}

.breadcrumb {
    background-color: #fff;
}

.jumbotron {
    background-color: #cfdde9;
}

.navbar-default {
    background-color: #fff;
    border-color: #ccd3d8;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background-color: #f1f1f1;
    color: #5a6368;
}

.well {
    background-color: #fff;
    border-color: #b3bfc8;
}