//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Small screen / tablet
$viewport-sm-min:              768px !default;

// Medium screen / desktop
$viewport-md-min:              992px !default;

// Large screen / wide desktop
$viewport-lg-min:              1200px !default;

// So media queries don't overlap when required, provide a maximum
$viewport-xs-max:              ($viewport-sm-min - 1) !default;
$viewport-sm-max:              ($viewport-md-min - 1) !default;
$viewport-md-max:              ($viewport-lg-min - 1) !default;

$viewport-xs-only: "(max-width : $viewport-xs-max)";
$viewport-xs-except: "(min-width : $viewport-sm-min)";