.input-group-btn {
    & > select.btn {
        height: 34px;
    }
}

.input-group-sm {
    .input-group-btn {
        & > select.btn {
            height: 30px;
        }
    }
}

.input-group-lg {
    .input-group-btn {
        & > select.btn {
            height: 46px;
        }
    }
}
