.navbar-default {
    @include navbar-variant(
        $navbar-default-color, $navbar-default-bg, $navbar-default-border,
        $navbar-default-brand-color, $navbar-default-brand-hover-color, $navbar-default-brand-hover-bg,
        $navbar-default-link-color, $navbar-default-link-hover-color, $navbar-default-link-hover-bg,
        $navbar-default-link-active-color, $navbar-default-link-active-bg,
        $navbar-default-link-disabled-color, $navbar-default-link-disabled-bg,
        $navbar-default-toggle-border-color, $navbar-default-toggle-hover-bg, $navbar-default-toggle-icon-bar-bg
    );
}

.navbar-smoke {
    @include navbar-variant(
        $navbar-smoke-color, $navbar-smoke-bg, $navbar-smoke-border,
        $navbar-smoke-brand-color, $navbar-smoke-brand-hover-color, $navbar-smoke-brand-hover-bg,
        $navbar-smoke-link-color, $navbar-smoke-link-hover-color, $navbar-smoke-link-hover-bg,
        $navbar-smoke-link-active-color, $navbar-smoke-link-active-bg,
        $navbar-smoke-link-disabled-color, $navbar-smoke-link-disabled-bg,
        $navbar-smoke-toggle-border-color, $navbar-smoke-toggle-hover-bg, $navbar-smoke-toggle-icon-bar-bg
    );
}

.navbar-muted {
    @include navbar-variant(
        $navbar-muted-color, $navbar-muted-bg, $navbar-muted-border,
        $navbar-muted-brand-color, $navbar-muted-brand-hover-color, $navbar-muted-brand-hover-bg,
        $navbar-muted-link-color, $navbar-muted-link-hover-color, $navbar-muted-link-hover-bg,
        $navbar-muted-link-active-color, $navbar-muted-link-active-bg,
        $navbar-muted-link-disabled-color, $navbar-muted-link-disabled-bg,
        $navbar-muted-toggle-border-color, $navbar-muted-toggle-hover-bg, $navbar-muted-toggle-icon-bar-bg
    );
}

.navbar-primary {
    @include navbar-variant(
        $navbar-primary-color, $navbar-primary-bg, $navbar-primary-border,
        $navbar-primary-brand-color, $navbar-primary-brand-hover-color, $navbar-primary-brand-hover-bg,
        $navbar-primary-link-color, $navbar-primary-link-hover-color, $navbar-primary-link-hover-bg,
        $navbar-primary-link-active-color, $navbar-primary-link-active-bg,
        $navbar-primary-link-disabled-color, $navbar-primary-link-disabled-bg,
        $navbar-primary-toggle-border-color, $navbar-primary-toggle-hover-bg, $navbar-primary-toggle-icon-bar-bg
    );
}

.navbar-secondary {
    @include navbar-variant(
        $navbar-secondary-color, $navbar-secondary-bg, $navbar-secondary-border,
        $navbar-secondary-brand-color, $navbar-secondary-brand-hover-color, $navbar-secondary-brand-hover-bg,
        $navbar-secondary-link-color, $navbar-secondary-link-hover-color, $navbar-secondary-link-hover-bg,
        $navbar-secondary-link-active-color, $navbar-secondary-link-active-bg,
        $navbar-secondary-link-disabled-color, $navbar-secondary-link-disabled-bg,
        $navbar-secondary-toggle-border-color, $navbar-secondary-toggle-hover-bg, $navbar-secondary-toggle-icon-bar-bg
    );
}

.navbar-accent {
    @include navbar-variant(
        $navbar-accent-color, $navbar-accent-bg, $navbar-accent-border,
        $navbar-accent-brand-color, $navbar-accent-brand-hover-color, $navbar-accent-brand-hover-bg,
        $navbar-accent-link-color, $navbar-accent-link-hover-color, $navbar-accent-link-hover-bg,
        $navbar-accent-link-active-color, $navbar-accent-link-active-bg,
        $navbar-accent-link-disabled-color, $navbar-accent-link-disabled-bg,
        $navbar-accent-toggle-border-color, $navbar-accent-toggle-hover-bg, $navbar-accent-toggle-icon-bar-bg
    );
}

.navbar-red {
    @include navbar-variant(
        $navbar-red-color, $navbar-red-bg, $navbar-red-border,
        $navbar-red-brand-color, $navbar-red-brand-hover-color, $navbar-red-brand-hover-bg,
        $navbar-red-link-color, $navbar-red-link-hover-color, $navbar-red-link-hover-bg,
        $navbar-red-link-active-color, $navbar-red-link-active-bg,
        $navbar-red-link-disabled-color, $navbar-red-link-disabled-bg,
        $navbar-red-toggle-border-color, $navbar-red-toggle-hover-bg, $navbar-red-toggle-icon-bar-bg
    );
}

.navbar-pink {
    @include navbar-variant(
        $navbar-pink-color, $navbar-pink-bg, $navbar-pink-border,
        $navbar-pink-brand-color, $navbar-pink-brand-hover-color, $navbar-pink-brand-hover-bg,
        $navbar-pink-link-color, $navbar-pink-link-hover-color, $navbar-pink-link-hover-bg,
        $navbar-pink-link-active-color, $navbar-pink-link-active-bg,
        $navbar-pink-link-disabled-color, $navbar-pink-link-disabled-bg,
        $navbar-pink-toggle-border-color, $navbar-pink-toggle-hover-bg, $navbar-pink-toggle-icon-bar-bg
    );
}

.navbar-velvet {
    @include navbar-variant(
        $navbar-velvet-color, $navbar-velvet-bg, $navbar-velvet-border,
        $navbar-velvet-brand-color, $navbar-velvet-brand-hover-color, $navbar-velvet-brand-hover-bg,
        $navbar-velvet-link-color, $navbar-velvet-link-hover-color, $navbar-velvet-link-hover-bg,
        $navbar-velvet-link-active-color, $navbar-velvet-link-active-bg,
        $navbar-velvet-link-disabled-color, $navbar-velvet-link-disabled-bg,
        $navbar-velvet-toggle-border-color, $navbar-velvet-toggle-hover-bg, $navbar-velvet-toggle-icon-bar-bg
    );
}

.navbar-purple {
    @include navbar-variant(
        $navbar-purple-color, $navbar-purple-bg, $navbar-purple-border,
        $navbar-purple-brand-color, $navbar-purple-brand-hover-color, $navbar-purple-brand-hover-bg,
        $navbar-purple-link-color, $navbar-purple-link-hover-color, $navbar-purple-link-hover-bg,
        $navbar-purple-link-active-color, $navbar-purple-link-active-bg,
        $navbar-purple-link-disabled-color, $navbar-purple-link-disabled-bg,
        $navbar-purple-toggle-border-color, $navbar-purple-toggle-hover-bg, $navbar-purple-toggle-icon-bar-bg
    );
}

.navbar-deepPurple {
    @include navbar-variant(
        $navbar-deepPurple-color, $navbar-deepPurple-bg, $navbar-deepPurple-border,
        $navbar-deepPurple-brand-color, $navbar-deepPurple-brand-hover-color, $navbar-deepPurple-brand-hover-bg,
        $navbar-deepPurple-link-color, $navbar-deepPurple-link-hover-color, $navbar-deepPurple-link-hover-bg,
        $navbar-deepPurple-link-active-color, $navbar-deepPurple-link-active-bg,
        $navbar-deepPurple-link-disabled-color, $navbar-deepPurple-link-disabled-bg,
        $navbar-deepPurple-toggle-border-color, $navbar-deepPurple-toggle-hover-bg, $navbar-deepPurple-toggle-icon-bar-bg
    );
}

.navbar-indigo {
    @include navbar-variant(
        $navbar-indigo-color, $navbar-indigo-bg, $navbar-indigo-border,
        $navbar-indigo-brand-color, $navbar-indigo-brand-hover-color, $navbar-indigo-brand-hover-bg,
        $navbar-indigo-link-color, $navbar-indigo-link-hover-color, $navbar-indigo-link-hover-bg,
        $navbar-indigo-link-active-color, $navbar-indigo-link-active-bg,
        $navbar-indigo-link-disabled-color, $navbar-indigo-link-disabled-bg,
        $navbar-indigo-toggle-border-color, $navbar-indigo-toggle-hover-bg, $navbar-indigo-toggle-icon-bar-bg
    );
}

.navbar-blue {
    @include navbar-variant(
        $navbar-blue-color, $navbar-blue-bg, $navbar-blue-border,
        $navbar-blue-brand-color, $navbar-blue-brand-hover-color, $navbar-blue-brand-hover-bg,
        $navbar-blue-link-color, $navbar-blue-link-hover-color, $navbar-blue-link-hover-bg,
        $navbar-blue-link-active-color, $navbar-blue-link-active-bg,
        $navbar-blue-link-disabled-color, $navbar-blue-link-disabled-bg,
        $navbar-blue-toggle-border-color, $navbar-blue-toggle-hover-bg, $navbar-blue-toggle-icon-bar-bg
    );
}

.navbar-lightBlue {
    @include navbar-variant(
        $navbar-lightBlue-color, $navbar-lightBlue-bg, $navbar-lightBlue-border,
        $navbar-lightBlue-brand-color, $navbar-lightBlue-brand-hover-color, $navbar-lightBlue-brand-hover-bg,
        $navbar-lightBlue-link-color, $navbar-lightBlue-link-hover-color, $navbar-lightBlue-link-hover-bg,
        $navbar-lightBlue-link-active-color, $navbar-lightBlue-link-active-bg,
        $navbar-lightBlue-link-disabled-color, $navbar-lightBlue-link-disabled-bg,
        $navbar-lightBlue-toggle-border-color, $navbar-lightBlue-toggle-hover-bg, $navbar-lightBlue-toggle-icon-bar-bg
    );
}

.navbar-cyan {
    @include navbar-variant(
        $navbar-cyan-color, $navbar-cyan-bg, $navbar-cyan-border,
        $navbar-cyan-brand-color, $navbar-cyan-brand-hover-color, $navbar-cyan-brand-hover-bg,
        $navbar-cyan-link-color, $navbar-cyan-link-hover-color, $navbar-cyan-link-hover-bg,
        $navbar-cyan-link-active-color, $navbar-cyan-link-active-bg,
        $navbar-cyan-link-disabled-color, $navbar-cyan-link-disabled-bg,
        $navbar-cyan-toggle-border-color, $navbar-cyan-toggle-hover-bg, $navbar-cyan-toggle-icon-bar-bg
    );
}

.navbar-teal {
    @include navbar-variant(
        $navbar-teal-color, $navbar-teal-bg, $navbar-teal-border,
        $navbar-teal-brand-color, $navbar-teal-brand-hover-color, $navbar-teal-brand-hover-bg,
        $navbar-teal-link-color, $navbar-teal-link-hover-color, $navbar-teal-link-hover-bg,
        $navbar-teal-link-active-color, $navbar-teal-link-active-bg,
        $navbar-teal-link-disabled-color, $navbar-teal-link-disabled-bg,
        $navbar-teal-toggle-border-color, $navbar-teal-toggle-hover-bg, $navbar-teal-toggle-icon-bar-bg
    );
}

.navbar-green {
    @include navbar-variant(
        $navbar-green-color, $navbar-green-bg, $navbar-green-border,
        $navbar-green-brand-color, $navbar-green-brand-hover-color, $navbar-green-brand-hover-bg,
        $navbar-green-link-color, $navbar-green-link-hover-color, $navbar-green-link-hover-bg,
        $navbar-green-link-active-color, $navbar-green-link-active-bg,
        $navbar-green-link-disabled-color, $navbar-green-link-disabled-bg,
        $navbar-green-toggle-border-color, $navbar-green-toggle-hover-bg, $navbar-green-toggle-icon-bar-bg
    );
}

.navbar-lightGreen {
    @include navbar-variant(
        $navbar-lightGreen-color, $navbar-lightGreen-bg, $navbar-lightGreen-border,
        $navbar-lightGreen-brand-color, $navbar-lightGreen-brand-hover-color, $navbar-lightGreen-brand-hover-bg,
        $navbar-lightGreen-link-color, $navbar-lightGreen-link-hover-color, $navbar-lightGreen-link-hover-bg,
        $navbar-lightGreen-link-active-color, $navbar-lightGreen-link-active-bg,
        $navbar-lightGreen-link-disabled-color, $navbar-lightGreen-link-disabled-bg,
        $navbar-lightGreen-toggle-border-color, $navbar-lightGreen-toggle-hover-bg, $navbar-lightGreen-toggle-icon-bar-bg
    );
}

.navbar-lime {
    @include navbar-variant(
        $navbar-lime-color, $navbar-lime-bg, $navbar-lime-border,
        $navbar-lime-brand-color, $navbar-lime-brand-hover-color, $navbar-lime-brand-hover-bg,
        $navbar-lime-link-color, $navbar-lime-link-hover-color, $navbar-lime-link-hover-bg,
        $navbar-lime-link-active-color, $navbar-lime-link-active-bg,
        $navbar-lime-link-disabled-color, $navbar-lime-link-disabled-bg,
        $navbar-lime-toggle-border-color, $navbar-lime-toggle-hover-bg, $navbar-lime-toggle-icon-bar-bg
    );
}

.navbar-yellow {
    @include navbar-variant(
        $navbar-yellow-color, $navbar-yellow-bg, $navbar-yellow-border,
        $navbar-yellow-brand-color, $navbar-yellow-brand-hover-color, $navbar-yellow-brand-hover-bg,
        $navbar-yellow-link-color, $navbar-yellow-link-hover-color, $navbar-yellow-link-hover-bg,
        $navbar-yellow-link-active-color, $navbar-yellow-link-active-bg,
        $navbar-yellow-link-disabled-color, $navbar-yellow-link-disabled-bg,
        $navbar-yellow-toggle-border-color, $navbar-yellow-toggle-hover-bg, $navbar-yellow-toggle-icon-bar-bg
    );
}

.navbar-amber {
    @include navbar-variant(
        $navbar-amber-color, $navbar-amber-bg, $navbar-amber-border,
        $navbar-amber-brand-color, $navbar-amber-brand-hover-color, $navbar-amber-brand-hover-bg,
        $navbar-amber-link-color, $navbar-amber-link-hover-color, $navbar-amber-link-hover-bg,
        $navbar-amber-link-active-color, $navbar-amber-link-active-bg,
        $navbar-amber-link-disabled-color, $navbar-amber-link-disabled-bg,
        $navbar-amber-toggle-border-color, $navbar-amber-toggle-hover-bg, $navbar-amber-toggle-icon-bar-bg
    );
}

.navbar-orange {
    @include navbar-variant(
        $navbar-orange-color, $navbar-orange-bg, $navbar-orange-border,
        $navbar-orange-brand-color, $navbar-orange-brand-hover-color, $navbar-orange-brand-hover-bg,
        $navbar-orange-link-color, $navbar-orange-link-hover-color, $navbar-orange-link-hover-bg,
        $navbar-orange-link-active-color, $navbar-orange-link-active-bg,
        $navbar-orange-link-disabled-color, $navbar-orange-link-disabled-bg,
        $navbar-orange-toggle-border-color, $navbar-orange-toggle-hover-bg, $navbar-orange-toggle-icon-bar-bg
    );
}

.navbar-deepOrange {
    @include navbar-variant(
        $navbar-deepOrange-color, $navbar-deepOrange-bg, $navbar-deepOrange-border,
        $navbar-deepOrange-brand-color, $navbar-deepOrange-brand-hover-color, $navbar-deepOrange-brand-hover-bg,
        $navbar-deepOrange-link-color, $navbar-deepOrange-link-hover-color, $navbar-deepOrange-link-hover-bg,
        $navbar-deepOrange-link-active-color, $navbar-deepOrange-link-active-bg,
        $navbar-deepOrange-link-disabled-color, $navbar-deepOrange-link-disabled-bg,
        $navbar-deepOrange-toggle-border-color, $navbar-deepOrange-toggle-hover-bg, $navbar-deepOrange-toggle-icon-bar-bg
    );
}

.navbar-brown {
    @include navbar-variant(
        $navbar-brown-color, $navbar-brown-bg, $navbar-brown-border,
        $navbar-brown-brand-color, $navbar-brown-brand-hover-color, $navbar-brown-brand-hover-bg,
        $navbar-brown-link-color, $navbar-brown-link-hover-color, $navbar-brown-link-hover-bg,
        $navbar-brown-link-active-color, $navbar-brown-link-active-bg,
        $navbar-brown-link-disabled-color, $navbar-brown-link-disabled-bg,
        $navbar-brown-toggle-border-color, $navbar-brown-toggle-hover-bg, $navbar-brown-toggle-icon-bar-bg
    );
}

.navbar-blueGrey {
    @include navbar-variant(
        $navbar-blueGrey-color, $navbar-blueGrey-bg, $navbar-blueGrey-border,
        $navbar-blueGrey-brand-color, $navbar-blueGrey-brand-hover-color, $navbar-blueGrey-brand-hover-bg,
        $navbar-blueGrey-link-color, $navbar-blueGrey-link-hover-color, $navbar-blueGrey-link-hover-bg,
        $navbar-blueGrey-link-active-color, $navbar-blueGrey-link-active-bg,
        $navbar-blueGrey-link-disabled-color, $navbar-blueGrey-link-disabled-bg,
        $navbar-blueGrey-toggle-border-color, $navbar-blueGrey-toggle-hover-bg, $navbar-blueGrey-toggle-icon-bar-bg
    );
}

.navbar-grey {
    @include navbar-variant(
        $navbar-grey-color, $navbar-grey-bg, $navbar-grey-border,
        $navbar-grey-brand-color, $navbar-grey-brand-hover-color, $navbar-grey-brand-hover-bg,
        $navbar-grey-link-color, $navbar-grey-link-hover-color, $navbar-grey-link-hover-bg,
        $navbar-grey-link-active-color, $navbar-grey-link-active-bg,
        $navbar-grey-link-disabled-color, $navbar-grey-link-disabled-bg,
        $navbar-grey-toggle-border-color, $navbar-grey-toggle-hover-bg, $navbar-grey-toggle-icon-bar-bg
    );
}


// Navbar Sizes
// --------------------------------------------------

.navbar-lg {
    // line-height: ensure even-numbered height of button next to large input
    @include navbar-size($navbar-height-large, $navbar-padding-large-vertical, $navbar-padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
    
    min-height: $navbar-height-large;
    border-radius: $btn-border-radius-large;
    font-size: $font-size-large;
    line-height: $line-height-large;
    
    .navbar-brand {
        height: $navbar-height-large;
        padding: $navbar-padding-large-vertical $navbar-padding-large-horizontal;
    }
    
    .navbar-nav {
        > li > a {
            padding: $navbar-padding-large-vertical $navbar-padding-large-horizontal;
        }
    }
    
    .navbar-form {
        margin-top: 13px;
        margin-bottom: 13px;
    }
    
    .navbar-toggle {
        margin-top: 13px;
        margin-bottom: 13px;
    }
}

.navbar-sm {
    // line-height: ensure even-numbered height of button next to large input
    @include navbar-size($navbar-height-small, $navbar-padding-small-vertical, $navbar-padding-small-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
    
    min-height: $navbar-height-small;
    border-radius: $btn-border-radius-small;
    font-size: $font-size-small;
    line-height: $line-height-small;
    
    .navbar-brand {
        height: $navbar-height-small;
        padding: $navbar-padding-small-vertical $navbar-padding-small-horizontal;
    }
    
    .navbar-nav {
        > li > a {
            padding: $navbar-padding-small-vertical $navbar-padding-small-horizontal;
        }
    }
    
    .navbar-form {
        margin-top: 3px;
        margin-bottom: 3px;
    }
    
    .navbar-toggle {
        margin-top: 3px;
        margin-bottom: 3px;
    }
}
