//
// Pagination (multiple pages)
// --------------------------------------------------
.pagination {
  display: inline-block;
  border-radius: $border-radius-base;

  > li {
    display: inline; // Remove list-style and block-level defaults
    > a,
    > span {
      color: $pagination-color;
      background-color: $pagination-bg;
      border: 0 solid $pagination-border;
      border-radius: $pagination-border-radius;
      margin: 0 3px;
    }
    &:first-child {
      > a,
      > span {
        @include border-left-radius($pagination-border-radius);
      }
    }
    &:last-child {
      > a,
      > span {
        @include border-right-radius($pagination-border-radius);
      }
    }
  }

  > li > a,
  > li > span {
    &:hover,
    &:focus {
      color: $pagination-hover-color;
      background-color: $pagination-hover-bg;
      border-color: $pagination-hover-border;
    }
  }

  > .active > a,
  > .active > span {
    &,
    &:hover,
    &:focus {
      z-index: 3;
      color: $pagination-active-color;
      background-color: $pagination-active-bg;
      border-color: $pagination-active-border;
    }
    
    & {
        $shadow: 0 2px 2px 0 rgba($pagination-active-bg, 0.14),
                  0 3px 1px -2px rgba($pagination-active-bg, 0.2),
                  0 1px 5px 0 rgba($pagination-active-bg, 0.12);
        @include box-shadow($shadow);
    }
    
    &:hover,
    &focus {
        $shadow: 0 14px 26px -12px rgba($pagination-active-bg, 0.42),
                      0 4px 23px 0px rgba(#000, 0.12),
                      0 8px 10px -5px rgba($pagination-active-bg, 0.2);
        @include box-shadow($shadow);
    }
  }

  > .disabled {
    > span,
    > span:hover,
    > span:focus,
    > a,
    > a:hover,
    > a:focus {
      color: $pagination-disabled-color;
      background-color: $pagination-disabled-bg;
      border-color: $pagination-disabled-border;
    }
  }
}


// Contextual Alternatives
// --------------------------------------------------

// Muted Variant
.pagination-muted {
  @include pagination-variant($pagination-muted-active-color, $pagination-muted-active-bg, $pagination-muted-active-border);
}

// Secondary Variant
.pagination-secondary {
  @include pagination-variant($pagination-secondary-active-color, $pagination-secondary-active-bg, $pagination-secondary-active-border);
}

// Accent Variant
.pagination-accent {
  @include pagination-variant($pagination-accent-active-color, $pagination-accent-active-bg, $pagination-accent-active-border);
}

// Info Variant
.pagination-info {
  @include pagination-variant($pagination-info-active-color, $pagination-info-active-bg, $pagination-info-active-border);
}

// Success Variant
.pagination-success {
  @include pagination-variant($pagination-success-active-color, $pagination-success-active-bg, $pagination-success-active-border);
}

// Warning Variant
.pagination-warning {
  @include pagination-variant($pagination-warning-active-color, $pagination-warning-active-bg, $pagination-warning-active-border);
}

// Danger Variant
.pagination-danger {
  @include pagination-variant($pagination-danger-active-color, $pagination-danger-active-bg, $pagination-danger-active-border);
}

// Mason Variant
.pagination-mason {
  @include pagination-variant($pagination-mason-active-color, $pagination-mason-active-bg, $pagination-mason-active-border);
}

// Instinct Variant
.pagination-instinct {
  @include pagination-variant($pagination-instinct-active-color, $pagination-instinct-active-bg, $pagination-instinct-active-border);
}

// Mystic Variant
.pagination-mystic {
  @include pagination-variant($pagination-mystic-active-color, $pagination-mystic-active-bg, $pagination-mystic-active-border);
}

// Valor Variant
.pagination-valor {
  @include pagination-variant($pagination-valor-active-color, $pagination-valor-active-bg, $pagination-valor-active-border);
}

// Indigo Variant
.pagination-indigo {
  @include pagination-variant($pagination-indigo-active-color, $pagination-indigo-active-bg, $pagination-indigo-active-border);
}

// Velvet Variant
.pagination-velvet {
  @include pagination-variant($pagination-velvet-active-color, $pagination-velvet-active-bg, $pagination-velvet-active-border);
}

// Sky Variant
.pagination-sky {
  @include pagination-variant($pagination-sky-active-color, $pagination-sky-active-bg, $pagination-sky-active-border);
}

// Dark Variant
.pagination-dark {
  @include pagination-variant($pagination-dark-active-color, $pagination-dark-active-bg, $pagination-dark-active-border);
}


// Sizing
// --------------------------------------------------

// Large
.pagination-lg {
  @include pagination-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $border-radius-large);
}

// Small
.pagination-sm {
  @include pagination-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-small);
}

