<header class="navbar-wrapper">
    <nav class="navbar navbar-default" style="border-radius: 0;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#/">Bootles</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="{{ (pageName == 'bootstrap') ? 'active' : ''}}">
                        <a href="#/bootstrap">Bootstrap</a>
                    </li>
                    
                    <li class="dropdown {{ (pageModule == 'plugins') ? 'active' : ''}}">
                        <a href
                            class="dropdown-toggle"
                            data-toggle="dropdown"
                            role="button"
                            aria-haspopup="true"
                            aria-expanded="false">
                            Plugins
                            <span class="caret"></span>
                        </a>
                        
                        <ul class="dropdown-menu">
                            <li class="{{ (pageName == 'bootstrap-slider') ? 'active' : ''}}">
                                <a href="#/plugins/bootstrap-slider">Bootstrap Slider</a>
                            </li>
                            <li class="{{ (pageName == 'swiper') ? 'active' : ''}}">
                                <a href="#/plugins/swiper">Swiper</a>
                            </li>
                            <li class="{{ (pageName == 'fixto') ? 'active' : ''}}">
                                <a href="#/plugins/fixto">FixTo</a>
                            </li>
                            
                            <li role="separator" class="divider"></li>
                            
                            <li class="{{ (pageName == 'jquery-spinner') ? 'active' : ''}}">
                                <a href="#/plugins/jquery-spinner">jQuery Spinner</a>
                            </li>
                            <li class="{{ (pageName == 'raty') ? 'active' : ''}}">
                                <a href="#/plugins/raty">Raty</a>
                            </li>
                            <li class="{{ (pageName == 'select2') ? 'active' : ''}}">
                                <a href="#/plugins/select2">Select2</a>
                            </li>
                            
                            <li role="separator" class="divider"></li>
                            
                            <li class="{{ (pageName == 'datatables') ? 'active' : ''}}">
                                <a href="#/plugins/datatables">Datatables</a>
                            </li>
                        </ul>
                    </li>
                    
                    <li class="dropdown {{ (pageModule == 'templates') ? 'active' : ''}}">
                        <a href
                            class="dropdown-toggle"
                            data-toggle="dropdown"
                            role="button"
                            aria-haspopup="true"
                            aria-expanded="false">
                            Templates
                            <span class="caret"></span>
                        </a>
                        
                        <ul class="dropdown-menu">
                            <li class="{{ (pageName == 'starter') ? 'active' : ''}}">
                                <a href="#/templates/starter">Starter</a>
                            </li>
                            <li class="{{ (pageName == 'jumbotron') ? 'active' : ''}}">
                                <a href="#/templates/jumbotron">Jumbotron</a>
                            </li>
                            <li class="{{ (pageName == 'cover') ? 'active' : ''}}">
                                <a href="#/templates/cover">Cover</a>
                            </li>
                            <li class="{{ (pageName == 'carousel') ? 'active' : ''}}">
                                <a href="#/templates/carousel">Carousel</a>
                            </li>
                            <li class="{{ (pageName == 'marketing') ? 'active' : ''}}">
                                <a href="#/templates/marketing">Marketing</a>
                            </li>
                            <li class="{{ (pageName == 'blog') ? 'active' : ''}}">
                                <a href="#/templates/blog">Blog</a>
                            </li>
                            <li class="{{ (pageName == 'dashboard') ? 'active' : ''}}">
                                <a href="#/templates/dashboard">Dashboard</a>
                            </li>
                            <li class="{{ (pageName == 'login') ? 'active' : ''}}">
                                <a href="#/templates/login">Login</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                
                <ul class="nav navbar-nav navbar-right" ng-switch on="pageName">
                    <li class="dropdown" ng-switch-when="components" >
                        <a href tabindex="0" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Components <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/components/peptasia">Peptasia</a></li>
                            <li><a href="#/components/illustrative-icons">Illustrative Icons</a></li>
                            <li><a href="#/components/jewels">Jewels</a></li>
                            <li><a href="#/components/tabs">Tabs</a></li>
                            <li><a href="#/components/cta">CTA</a></li>
                            <li><a href="#/components/breadcrumb">Breadcrumb</a></li>
                            <li><a href="#/components/list-helpers">List Helpers</a></li>
                            <li><a href="#/components/story-cards">Story Cards</a></li>
                            <li><a href="#/components/listing-item">Listing Item</a></li>
                            <li><a href="#/components/registration-footer">Registration Footer</a></li>
                            <li><a href="#/components/disclaimer">Disclaimer</a></li>
                            <li><a href="#/components/calendar">Calendar</a></li>
                        </ul>
                    </li>
                    
                    <li class="dropdown" ng-switch-when="bootstrap" >
                        <a href tabindex="0" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bootstrap <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/bootstrap/navbar">Navbar</a></li>
                            <li><a href="#/bootstrap/buttons">Buttons</a></li>
                            <li><a href="#/bootstrap/typography">Typography</a></li>
                            <li><a href="#/bootstrap/table">Table</a></li>
                            <li><a href="#/bootstrap/form">Form</a></li>
                            <li><a href="#/bootstrap/nav">Navs</a></li>
                            <li><a href="#/bootstrap/indicators">Indicators</a></li>
                            <li><a href="#/bootstrap/progress-bar">Progress Bars</a></li>
                            <li><a href="#/bootstrap/containers">Containers</a></li>
                            <li><a href="#/bootstrap/dialog">Dialogs</a></li>
                        </ul>
                    </li>
                    
                    <li class="dropdown" ng-switch-when="css" >
                        <a href tabindex="0" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CSS <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="?scrollto=navbar">Action</a></li>
                            <li><a href="?scrollto">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>
