<!-- Peptasia
=============================================== -->

<div id="buttons" class="panel-body">
    <div>
        <p class="bs-component">
            <a class="dvcss-btn btn btn-default">Default</a>
            <a class="dvcss-btn btn btn-primary">Primary</a>
            <a class="dvcss-btn btn btn-success">Success</a>
            <a class="dvcss-btn btn btn-info">Info</a>
            <a class="dvcss-btn btn btn-warning">Warning</a>
            <a class="dvcss-btn btn btn-danger">Danger</a>
            <a class="dvcss-btn btn btn-link">Link</a>
        </p>

        <p class="bs-component">
            <a class="dvcss-btn btn btn-default disabled">Default</a>
            <a class="dvcss-btn btn btn-primary disabled">Primary</a>
            <a class="dvcss-btn btn btn-success disabled">Success</a>
            <a class="dvcss-btn btn btn-info disabled">Info</a>
            <a class="dvcss-btn btn btn-warning disabled">Warning</a>
            <a class="dvcss-btn btn btn-danger disabled">Danger</a>
            <a class="dvcss-btn btn btn-link disabled">Link</a>
        </p>

        <p class="bs-component">
            <a class="dvcss-btn btn btn-primary btn-lg">Large button</a>
            <a class="dvcss-btn btn btn-primary">Default button</a>
            <a class="dvcss-btn btn btn-primary btn-sm">Small button</a>
            <a class="dvcss-btn btn btn-primary btn-xs">Mini button</a>
        </p>
    </div>
</div>