<div ng-controller="componentDrawerController">
    <div class="page-header">
        <h2 id="drawer" class="animated pulse">
            Cards <small>Components</small>
        </h2>
    </div>
    
    <div class="panel panel-smoke">
        <div class="panel-heading">
            <h3 class="panel-title">Card example</h3>
        </div>
        
        <div class="panel-body">
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Card Header</h3>
                </div>
                
                <div class="panel-body">
                    <div>
                        An example of a card
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
