<div ng-controller="componentDrawerController">
    <div class="page-header">
        <h2 id="drawer" class="animated pulse">
            Cards <small>Components</small>
        </h2>
    </div>
    
    <div class="panel panel-smoke">
        <div class="panel-heading">
            <h3 class="panel-title">Card example</h3>
        </div>
        
        <div class="panel-body">
            
            <div class="card panel panel-default">
                <div class="panel-heading">
                    <div class="media">
                        <div class="media-left">
                            <a href="javascript:void(0)">
                                <img
                                    class="media-object"
                                    alt="64x64" 
                                    src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    style="width: 40px; height: 40px;"
                                />
                            </a>
                        </div>
                        
                        <div class="media-body">
                            <h4 class="panel-title media-heading">
                                <a href="javascript:void(0)">Randell Tuazon</a>
                            </h4>
                            
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                            ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate
                            at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                            fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </div>
                </div>
                
                <div class="panel-block">
                    <div class="panel-thumbnail">
                        <img
                            class="img-responsive"
                            alt="Generic Placeholder" 
                            src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                            style="width: 100%; height: 200px;"
                        />
                        
                        <div class="panel-overlay hide">
                            <h3 class="panel-overlay-title"></h3>
                            <div class="panel-overlay-description"></div>
                        </div>
                    </div>
                    
                    <div class="panel-body">
                        <div class="caption">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
                            mattis pretium massa. Aliquam erat volutpat. Nulla facilisi. Donec
                            vulputate interdum sollicitudin. Nunc lacinia auctor quam sed
                            pellentesque. Aliquam dui mauris, mattis quis lacus id,
                            pellentesque lobortis odio.
                        </div>
                    </div>
                    
                    <div class="panel-body">
                        <button
                            type="button"
                            class="btn btn-primary btn-sm"
                        >
                            Button
                        </button>
                        
                        <button
                            type="button"
                            class="btn btn-default btn-sm"
                        >
                            Button
                        </button>
                    </div>
                    
                    <div class="panel-footer">
                        
                        <div class="media">
                            <div class="media-left">
                                <a href="javascript:void(0)">
                                    <img
                                        class="media-object"
                                        alt="64x64" 
                                        src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                        style="width: 40px; height: 40px;"
                                    />
                                </a>
                            </div>
                            
                            <div class="media-body">
                                <h4 class="media-heading">
                                    <a href="javascript:void(0)">Randell Tuazon</a>
                                </h4>
                                
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate
                                at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                                fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>
                        
                        <div class="media">
                            <div class="media-left">
                                <a href="javascript:void(0)">
                                    <img
                                        class="media-object"
                                        alt="64x64" 
                                        src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                        style="width: 40px; height: 40px;"
                                    />
                                </a>
                            </div>
                            
                            <div class="media-body">
                                <h4 class="media-heading">
                                    <a href="javascript:void(0)">Randell Tuazon</a>
                                </h4>
                                
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate
                                at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                                fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
