<main>
    <div class="page-header">
        <h2 id="drawer" class="animated pulse">
            Drawer <small>Components</small>
        </h2>
    </div>
    
    <div class="panel panel-smoke">
        <div class="panel-heading">
            <h3 class="panel-title">Docked example</h3>
        </div>
        
        <div class="panel-body">
            <div>
                A simple controlled Drawer. The Drawer us docked by default, remaining open
                unless trhought the open prop.
            </div>
            
            <br aria-hidden="true" />
            
            <button type="button" class="btn btn-default">
                Toggle Drawer
            </button>
        </div>
    </div>
</main>
