<main>
    <div class="page-header">
        <h2 id="drawer" class="animated pulse">
            Drawer <small>Components</small>
        </h2>
    </div>
    
    <div class="panel panel-smoke">
        <div class="panel-heading">
            <h3 class="panel-title">Docked example</h3>
        </div>
        
        <div class="panel-body">
            <div>
                A simple controlled Drawer. The Drawer us docked by default, remaining open
                unless trhought the open prop.
            </div>
            
            <br aria-hidden="true" />
            
            <div class="text-right">
                <button type="button"
                    class="btn btn-default"
                    data-toggle="drawer"
                    data-target="#drawerExample">
                    Toggle Drawer
                </button>
            </div>
            
            <div id="drawerExample" class="drawer fade" aria-expanded="false">
                <div class="drawer-content">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                    richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes
                    anderson cred nesciunt sapiente ea proident. 
                </div>
            </div>
            
        </div>
    </div>
    
    <div class="panel panel-smoke">
        <div class="panel-heading">
            <h3 class="panel-title">Right Docked example</h3>
        </div>
        
        <div class="panel-body">
            <div class="text-right">
                <button type="button"
                    class="btn btn-default"
                    data-toggle="drawer"
                    data-target="#drawerExample2">
                    Toggle Right Drawer
                </button>
            </div>
            
            <div id="drawerExample2" class="drawer drawer-right fade" aria-expanded="false">
                <div class="drawer-content">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                    richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes
                    anderson cred nesciunt sapiente ea proident. 
                </div>
            </div>
            
        </div>
    </div>
</main>
