<!-- Events
=============================================== -->

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Events</h3>
    </div>
    <div id="events" class="panel-body">
    
        <div class="event-box-group">
            <table class="table-layout-fixed fill-x">
                <tbody>
                    <tr>
                        <td>
                            <div class="event-box event-box-block">
                                <div class="event-box-body">
                                    
                                    <div class="event-box-bounds">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td colspan="5">
                                                        <a href="#/components" class="event-box-bounds-mask">
                                                            <span class="accessibleText">Epcot International Food &amp; Wine Festival</span>
                                                        </a>
                                                        
                                                        <div class="event-box-bounds-borders">
                                                            <span class="n"></span>
                                                            <span class="s"></span>
                                                            <span class="w"></span>
                                                            <span class="e"></span>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    
                                    <div class="event-box-labels">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td colspan="5">
                                                        <div class="event-box-title lead">Epcot International Food & Wine</div>
                                                        <div class="event-box-location text-ellipsis lead">Epcot</div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    
                                    <a href="#" class="event-box-mask hide ">
                                        <span class="accessibleText">Epcot International Food &amp; Wine Festival</span>
                                    </a>
                                    
                                    <div class="event-box-borders hide">
                                        <span class="n"></span>
                                        <span class="s"></span>
                                        <span class="w"></span>
                                        <span class="e"></span>
                                    </div>
                                    
                                    <div class="event-box-grid" style="position: relative;">
                                        <table class="table-layout-fixed fill-x">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="event-box">
                                                            <div class="event-box-body">
                                                                <div class="event-box-mask"></div>
                                                                <div class="event-box-borders">
                                                                    <span class="n"></span>
                                                                    <span class="s"></span>
                                                                    <span class="w"></span>
                                                                    <span class="e"></span>
                                                                </div>
                                                                <div class="event-box-title">Title</div>
                                                                <div class="event-box-time">8:00 - 12:00 PM</div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    
                                                    <td>
                                                        <div class="event-box">
                                                            <div class="event-box-body">
                                                                <div class="event-box-mask"></div>
                                                                <div class="event-box-borders">
                                                                    <span class="n"></span>
                                                                    <span class="s"></span>
                                                                    <span class="w"></span>
                                                                    <span class="e"></span>
                                                                </div>
                                                                <div class="event-box-title">Title</div>
                                                                <div class="event-box-time">8:00 - 12:00 PM</div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    
                                                    <td>
                                                        <div class="event-box">
                                                            <div class="event-box-body">
                                                                <div class="event-box-mask"></div>
                                                                <div class="event-box-borders">
                                                                    <span class="n"></span>
                                                                    <span class="s"></span>
                                                                    <span class="w"></span>
                                                                    <span class="e"></span>
                                                                </div>
                                                                <div class="event-box-title">Title</div>
                                                                <div class="event-box-time">8:00 - 12:00 PM</div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    
                                                    <td>
                                                        <div class="event-box">
                                                            <div class="event-box-body">
                                                                <div class="event-box-mask"></div>
                                                                <div class="event-box-borders">
                                                                    <span class="n"></span>
                                                                    <span class="s"></span>
                                                                    <span class="w"></span>
                                                                    <span class="e"></span>
                                                                </div>
                                                                <div class="event-box-title">Title</div>
                                                                <div class="event-box-time">8:00 - 12:00 PM</div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    
                                                    <td>
                                                        <div class="event-box">
                                                            <div class="event-box-body">
                                                                <div class="event-box-mask"></div>
                                                                <div class="event-box-borders">
                                                                    <span class="n"></span>
                                                                    <span class="s"></span>
                                                                    <span class="w"></span>
                                                                    <span class="e"></span>
                                                                </div>
                                                                <div class="event-box-title">Title</div>
                                                                <div class="event-box-time">8:00 - 12:00 PM</div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    
                                                    <td>
                                                        <div class="event-box">
                                                            <div class="event-box-body">
                                                                <div class="event-box-mask"></div>
                                                                <div class="event-box-borders">
                                                                    <span class="n"></span>
                                                                    <span class="s"></span>
                                                                    <span class="w"></span>
                                                                    <span class="e"></span>
                                                                </div>
                                                                <div class="event-box-title">Title</div>
                                                                <div class="event-box-time">8:00 - 12:00 PM</div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    
                                                    <td>
                                                        <div class="event-box">
                                                            <div class="event-box-body">
                                                                <div class="event-box-mask"></div>
                                                                <div class="event-box-borders">
                                                                    <span class="n"></span>
                                                                    <span class="s"></span>
                                                                    <span class="w"></span>
                                                                    <span class="e"></span>
                                                                </div>
                                                                <div class="event-box-title">Title</div>
                                                                <div class="event-box-time">8:00 - 12:00 PM</div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        
                                        <table class="table-layout-fixed fill-x">
                                            <tbody>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td>
                                                        <div class="event-box">
                                                            <div class="event-box-body">
                                                                <div class="event-box-mask"></div>
                                                                <div class="event-box-borders">
                                                                    <span class="n"></span>
                                                                    <span class="s"></span>
                                                                    <span class="w"></span>
                                                                    <span class="e"></span>
                                                                </div>
                                                                <div class="event-box-title">Title</div>
                                                                <div class="event-box-time">8:00 - 12:00 PM</div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>  
    
    </div>
</div>