<!-- Peptasia
=============================================== -->

<div id="form-inline" class="panel-body">
    <div class="dvcss-row">
        <div class="col-sm-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="exampleInputName2">Name</label>
                    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail2">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
                </div>
                <button type="submit" class="btn btn-default">Send invitation</button>
            </form>
        </div>
        
        <div class="col-sm-6">
            <form class="uiPlus">
                <div class="dvui-fieldset-col">
                    <div id="activationCodeid-base" class="jsvfElement formInputElement long" data-plugins=" [&quot;pepClientSideValidatorToggle&quot;]">
                        <label class="required" for="activationCode">
                            Activation Code
                        </label>
                        
                        <div class="textInput standardFormElement long">
                            <input type="password"
                                name="activationCode"
                                id="activationCode"
                                autocapitalize="none"
                                autocomplete="off"
                                data-row_label="account"
                                data-information-icon="1"
                                class="inputElement was-visited"
                                data-errorappendselector=".textInput"
                                aria-label="Activation Code"
                                value="" />
                            </div>
                    </div>                               
                </div>
            </form>
        </div>
        
    </div>
</div>