<ul ref="SettingsNav" id="SettingsNav" class="nav nav-pills nav-stacked nav-curved">
    <li class="{{ (pageName == 'settings') ? 'active' : ''}}">
        <a href="javascript:void(0);">General Settings</a>
    </li>
    
    <li class="{{ (pageName == 'settingsProfile') ? 'active' : ''}}">
        <a href="javascript:void(0);">Edit Profile</a>
    </li>
    
    <li class="{{ (pageName == 'settingsAuthentication') ? 'active' : ''}}">
        <a href="javascript:void(0);">Authentication</a>
    </li>
</ul>