<li><a href="#/">Home</a></li>

<!-- Modules -->
<li class="active" ng-switch-when="bootstrap">Bootstrap</li>
<li class="active" ng-switch-when="css">CSS</li>
<li class="{{ (pageModule == 'components') ? 'active' : ''}}" ng-if="(pageModule == 'components') ? 'true' : 'false'">
    <a href="#/components">Components</a>
</li>
<li class="{{ (pageModule == 'plugins') ? 'active' : ''}}" ng-if="(pageModule == 'plugins') ? 'true' : 'false'">
    <a href="#/plugins">Plugins</a>
</li>

<!-- Components -->
<li class="active" ng-switch-when="colors">Colors</li>
<li class="active" ng-switch-when="drawer">Drawer</li>

<!-- Plugins -->
<li class="active" ng-switch-when="bootstrap-slider">Bootstrap Slider</li>
<li class="active" ng-switch-when="swiper">Swiper</li>
<li class="active" ng-switch-when="fixto">FixTo</li>
<li class="active" ng-switch-when="jquery-spinner">jQuery Spinner</li>
<li class="active" ng-switch-when="raty">Raty</li>
<li class="active" ng-switch-when="select2">Select2</li>
<li class="active" ng-switch-when="datatables">Datatables</li>