<div class="canvas">
    <div class="canvas-body">
        <ng-include src="'global/header.html'"></ng-include>

        <section>
            <div class="container">
                <div id="login-container" ng-if="!isAuthenticated">
                    <form>
                        <fieldset>
                            <label for="user">User</label>
                            <input class="form-control" id="user" type="text" name="username" ng-model="vm.username" />
                            <br />
                            
                            <label for="password">Password</label>
                            <input class="form-control" id="password" type="password" name="password" ng-model="vm.password" />
                            
                            <br />
                            
                            <button class="btn btn-primary" type="submit" ng-click="vm.login()">
                                Log In
                            </button>
                            <button class="btn btn-primary" type="submit" ng-click="vm.register()">
                                Sign Up
                            </button>
                        </fieldset>
                    </form>

                    <a href="" ng-click="vm.facebookLogin()">Log In with Facebook</a><br/>
                </div>
                
                <div ng-if="isAuthenticated">
                    <p>You are already logged in!</p>
                    <button class="btn btn-danger" ng-click="vm.authService.logout()">Log Out</button>
                </div>
            
                <div class="hidden">
                    <div ng-if="!isAuthenticated">
                        <button class="btn btn-primary" ng-click="vm.authService.lockLogin()">
                            Log In
                        </button>
                    </div>
                    
                    <div ng-if="isAuthenticated">
                        <p>Thank you for logging in!</p>
                        <button class="btn btn-danger" ng-click="vm.authService.logout()">Log Out</button>
                    </div>
                </div>
            </div>
        </section>
        
        <ng-include src="'global/footer.html'"></ng-include>
    </div>
</div>
