<ul ref="AboutNav" id="AboutNav" class="nav nav-pills nav-stacked nav-curved">
    <li class="{{ (pageName == 'about') ? 'active' : ''}}">
        <a href="javascript:void(0);">About Us</a>
    </li>
    
    <li class="{{ (pageName == 'aboutHowItWorks') ? 'active' : ''}}">
        <a href="javascript:void(0);">How It Works</a>
    </li>
    
    <li class="{{ (pageName == 'aboutTeam') ? 'active' : ''}}">
        <a href="javascript:void(0);">Team</a>
    </li>
    
    <li class="{{ (pageName == 'aboutTerms') ? 'active' : ''}}">
        <a href="javascript:void(0);">Terms</a>
    </li>
</ul>