<div class="panel panel-default">
    <div class="panel-body">
        <h5>People You May Know</h5>
        
        <div class="media">
            <div class="media-left">
                <img
                    class="img-circle"
                    src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                    alt="Generic placeholder image" 
                    width="50"
                    height="50"
                />
            </div>
            
            <div class="media-body">
                <div>
                    <strong>Firstname Lastname</strong>
                </div>
                
                <div>
                    <button type="button" class="btn btn-default btn-sm">
                        Follow
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-footer text-center">
        View All
    </div>
</div>