<nav ref="HomeNav" id="HomeNav" class="well well-sm">
    <ul class="nav nav-pills nav-stacked nav-curved">
        <li class="{{ (pageName == 'home') ? 'active' : ''}}">
            <a href="javascript:void(0);">News Feed</a>
        </li>
        
        <li class="{{ (pageName == 'messages') ? 'active' : ''}}">
            <a href="javascript:void(0);">Messages</a>
        </li>
        
        <li class="{{ (pageName == 'myListings') ? 'active' : ''}}">
            <a href="javascript:void(0);">My Listings</a>
        </li>
    </ul>
</nav>