<section ref="IndexExplore" id="IndexExplore" class="IndexExplore">
    <hr aria-hidden="true" />
    
    <div class="container text-center">
        <h2>Explore</h2>
        
        <br aria-hidden="true" />
        
        <div class="row">
            <div class="col-sm-4">
                <div class="well-sm">
                    <img
                        class="img-responsive img-circle lazy center-block"
                        src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                        data-original="img/pages/splash/explore-3.jpg"
                        alt="Generic placeholder image"
                        width="140"
                    />
                    
                    <h3>Write</h3>
                    
                    <p>
                        Create multiple blogs to organize your passion and thoughts.
                        After all, we are all newsmakers. We have so much to write
                        about. Write about your poems, news articles, reactions,
                        tutorials, recipes and help inform the community.
                    </p>
              </div>
            </div>
            
            <div class="col-sm-4">
                <div class="well-sm">
                    <img
                        class="img-responsive img-circle lazy center-block"
                        src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                        data-original="img/pages/splash/explore-3.jpg"
                        alt="Generic placeholder image"
                        width="140"
                    />
                    
                    <h3>Collaborate</h3>
                    
                    <p>
                        Collaborate with other writers who share the same vision
                        or hobby in the same blog, that can serve as a hub where
                        people of the same interests can follow you.
                    </p>
              </div>
            </div>
            
            <div class="col-sm-4">
                <div class="well-sm">
                    <img
                        class="img-responsive img-circle lazy center-block"
                        src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                        data-original="img/pages/splash/explore-3.jpg"
                        alt="Generic placeholder image"
                        width="140"
                    />
                    
                    <h3>Read</h3>
                    
                    <p>
                        Duis mollis, est non commodo luctus, nisi erat porttitor ligula,
                        eget lacinia odio sem nec elit. Cras mattis consectetur purus sit
                        amet fermentum. Fusce dapibus, tellus ac cursus commodo,
                        tortor mauris condimentum nibh.
                    </p>
              </div>
            </div>
        </div>
    </div>
</section>
