<ul
    ref="ListingComposerNav"
    id="SettingsNav"
    class="nav nav-pills nav-stacked nav-curved"
>
    <li class="active">
        <a href="javascript:void(0);">Details</a>
    </li>
    
    <li>
        <a href="javascript:void(0);">Photos</a>
    </li>
    
    <li>
        <a href="javascript:void(0);">Pricing</a>
    </li>
    
    <li>
        <a href="javascript:void(0);">Category</a>
    </li>
    
    <li>
        <a href="javascript:void(0);">Location</a>
    </li>
    
    <li>
        <a href="javascript:void(0);">Others</a>
    </li>
</ul>