<div 
    ref="ListingComposerButtons"
    id="ListingComposerButtons"
    class="pull-right"
>
    <button
        type="button"
        name="action"
        value="publish"
        class="btnPublish btn btn-info"
        data-loading-text="Update"
    >
        Update
    </button>
    
    <button
        type="button"
        name="action"
        value="unpublish"
        class="btnUnpublish btn btn-danger"
        data-loading-text="Unpublish"
    >
        Unpublish
    </button>
    
    <button
        type="button"
        class="btn btn-default"
        data-target="#modal1"
        data-loading-text="<i class='fa fa-trash-o'></i>"
    >
        <i class="fa fa-trash-o"></i>
    </button>
    
    <a
        href="#"
        class="btn text-muted"
        data-loading-text="View"
    >
        View
    </a>
</div>
