// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($color, $background, $border) {
    color: $color;
    background-color: $background;
    border-color: $border;
    
    $shadow: 0 2px 2px 0 rgba($border, 0.14),
                  0 3px 1px -2px rgba($border, 0.2),
                  0 1px 5px 0 rgba($border, 0.12);
    @include box-shadow($shadow);
    
    &:focus,
    &.focus {
        color: $color;
        background-color: darken($background, 3%);
        border-color: darken($border, 5%);
    }
    &:hover {
        color: $color;
        background-color: darken($background, 3%);
        border-color: darken($border, 4%);
        
        $shadow: 0 14px 26px -12px rgba($background, 0.42),
                      0 4px 23px 0px rgba(#000, 0.12),
                      0 8px 10px -5px rgba($background, 0.2);
        @include box-shadow($shadow);
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
        color: $color;
        background-color: darken($background, 3%);
        border-color: darken($border, 4%);

        &:hover,
        &:focus,
        &.focus {
            color: $color;
            background-color: darken($background, 5%);
            border-color: darken($border, 6%);
        }
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
        background-image: none;
        
        $shadow: 0 14px 26px -12px rgba($background, 0.42),
                      0 4px 23px 0px rgba(#000, 0.12),
                      0 8px 10px -5px rgba($background, 0.2);
        @include box-shadow($shadow);
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &:hover,
        &:focus,
        &.focus {
            background-color: $background;
            border-color: $border;
        }
    }

    .badge {
        color: $background;
        background-color: $color;
    }
}

// Button sizes
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
    padding: $padding-vertical $padding-horizontal;
    font-size: $font-size;
    line-height: $line-height;
    border-radius: $border-radius;
}

// Button Outline
@mixin button-outline($color, $background, $border) {
    background-image: none;
    background-color: $background;
    border-color: $border;
    color: $color;
}
