/*
|------------------------------------------------------------------------------------------------------
| Offcanvas Base
|------------------------------------------------------------------------------------------------------
|
|
*/

.offcanvas {
    position: relative;
    min-height: 100%;
    
    @media (min-width: $screen-sm-min) {
        .container {
            width: auto;
        }
    }
    
    @media (min-width: $screen-md-min) {
        .container {
            width: auto;
        }
    }

    @media (min-width: $screen-lg-min) {
        .container {
            max-width: 1170px;
            width: auto;
        }
    }
}

.visible-offcanvas-left-open,
.visible-offcanvas-right-open,
.visible-inline-offcanvas-left-open,
.visible-inline-offcanvas-right-open,
.visible-inline-block-offcanvas-left-open,
.visible-inline-block-offcanvas-right-open {
    display: none !important;
}

.offcanvas-left-open {
    .hidden-offcanvas-left-open {
        display: none !important;
    }
    
    .visible-offcanvas-left-open {
        display: block !important;
    }
    
    .visible-inline-offcanvas-left-open {
        display: inline !important;
    }
    
    .visible-inline-block-offcanvas-left-open {
        display: inline-block !important;
    }
}

.offcanvas-right-open {
    .hidden-offcanvas-right-open {
        display: none !important;
    }
    
    .visible-offcanvas-right-open {
        display: block !important;
    }
    
    .visible-inline-offcanvas-right-open {
        display: inline !important;
    }
    
    .visible-inline-block-offcanvas-right-open {
        display: inline-block !important;
    }
}

/*
|------------------------------------------------------------------------------------------------------
| Offcanvas Body
|------------------------------------------------------------------------------------------------------
|
|
*/

.offcanvas-body {
    & {
        position: relative;
        z-index: auto;
        height: 100%;
        min-height: 100%;
        padding: 0;
    }
    
    & .navbar {
        
        & table {
            width: 100%;
        }
    }
    
    & .navbar-toggle {
        margin: 8px 10px;
    }
    
    // Mobile only
    @media (max-width: $screen-xs-max) {
        & .navbar .row > [class^='col-'],
        & .navbar .row > [class*='col-'] {
            min-height: 0;
        }
        
    }
}

.offcanvas.peep-right {
    & > .offcanvas-body {
        & {
            padding-right: 50px;
        }
        
        & .navbar-fixed-top {
            right: 50px;
        }
    }
    
    .offcanvas-right-open & > .offcanvas-body {
        & {
            padding-right: 200px;
        }
        
        /* Mobile only */
        @media (max-width: $screen-xs-max) {
            & {
                left: -200px;
                padding-right: 0;
            }
        }
        
        & .navbar-fixed-top {
            right: 200px;
        }
    }
}


/*
|------------------------------------------------------------------------------------------------------
| Offcanvas Side
|------------------------------------------------------------------------------------------------------
|
|
*/

.offcanvas-right,
.offcanvas-left {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    
    min-height: 100%;
    padding: 0;
    
    background: #fff;
    
    @include box-shadow(
        rgba(0, 0, 0, 0.156863) 0px 3px 10px,
        rgba(0, 0, 0, 0.227451) 0px 3px 10px
    );
}

.offcanvas-left {
    .peep-left & {
        display: block;
    }
}

.offcanvas-right {
    & {
        position: absolute;
        left: auto;
        right: 0;
    }
    
    .peep-right & {
        display: block;
    }
}


.offcanvas-fixed {
    .offcanvas-left,
    .offcanvas-right {
        position: fixed;
        min-height: 0;
        height: 100%;
    }
}

/*
|------------------------------------------------------------------------------------------------------
| Offcanvas Sidebar
|------------------------------------------------------------------------------------------------------
|
|
*/

.offcanvas-sidebar {
    .peep-left &,
    .peep-right & {
        width: 50px;
    }
    
    .offcanvas-left-open .offcanvas-left &,
    .offcanvas-right-open .offcanvas-right & {
        width: 200px;
    }
    
    .offcanvas-left-open .offcanvas-fixed .offcanvas-left &,
    .offcanvas-right-open .offcanvas-fixed .offcanvas-right & {
        position: relative;
        height: 100%;
    }
    
    & .navbar-nav {
        & {
            margin: 0;
        }
        
        &.navbar-left {
            float: left;
        }
        
        &.navbar-right {
            float: right;
        }
        
        & > li {
            float: left;
            
            & > a {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}
