<div class="panel panel-smoke">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a
                href
                data-toggle="collapse"
                data-target="#ListingComposerOthersCollapse"
            >
                Others
            </a>
        </h3>
    </div>
    
    <div id="ListingComposerOthersCollapse" class="panel-collapse collapse in">
        <div class="panel-body form-horizontal">
            
            <div class="form-group">
                <label for="listing_keywords" class="col-sm-3 control-label text-muted">
                    Keywords / Tags
                </label>
                
                <div class="col-sm-9">
                    <textarea
                        name="listing_keywords"
                        id="ListingComposerKeywordsSelect"
                        class="form-control"
                        placeholder="Keywords / Tags"
                    ></textarea>
          
                    <span class="help-block"></span>
                </div>
            </div>
            
        </div>
    </div>
</div>
