<ul ref="ProfileNav" id="ProfileNav" class="nav nav-pills nav-stacked nav-curved">
    <li class="{{ (pageName == 'profile') ? 'active' : ''}}">
        <a href="javascript:void(0);">Overview</a>
    </li>
    
    <li class="{{ (pageName == 'profileAbout') ? 'active' : ''}}">
        <a href="javascript:void(0);">About</a>
    </li>
    
    <li class="{{ (pageName == 'profileListings') ? 'active' : ''}}">
        <a href="javascript:void(0);">Listings</a>
    </li>
    
    <li class="{{ (pageName == 'profileShops') ? 'active' : ''}}">
        <a href="javascript:void(0);">Shops</a>
    </li>
</ul>