<div class="well well-sm thumbnail">
    <h5>Sponsored</h5>
    
    <img
        class="img-responsive"
        alt="100%x200"
        src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
        style="width: 100%; min-height: 100px;"
    />
    
    <div class="caption">
        <h5>Thumbnail label</h5>
        
        <p>
            Cras justo odio, dapibus ac facilisis in, egestas
            eget quam. Donec id elit non mi porta gravida at
            eget metus. Nullam id dolor id nibh ultricies
            vehicula ut id elit.
        </p>
        
        <p>
            <a href="#" class="btn btn-primary" role="button">
                Button
            </a>
            
            <a href="#" class="btn btn-default" role="button">
                Button
            </a>
        </p>
    </div>
</div>
