<section ref="IndexHowItWorks" id="IndexHowItWorks" class="IndexHowItWorks">
    <hr aria-hidden="true" />
    
    <div class="section">
        <div class="container">
            <h2 class="h1 text-center">How It Works</h2>
            
            <div class="section-sm">
                <article class="row section-sm">
                    <div class="col-md-7">
                        <h3 class="h2">
                            TITLE
                            
                            <div class="text-muted">
                                <small>
                                    Sample subtitle.
                                </small>
                            </div>
                        </h3>
                        
                        <p class="lead">
                            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
                            porta felis euismod semper. Praesent commodo cursus magna, vel 
                            scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
                        </p>
                    </div>
                    
                    <div class="col-md-5">
                        <img
                            src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                            class="img-responsive center-block wows fadeInRight"
                            height="500"
                            width="500"
                            alt="Generic placeholder image"
                        />
                    </div>
                </article>
                
                <hr aria-hidden="true" />
                
                <article class="row section-sm">
                    <div class="col-md-7 col-md-push-5">
                        <h3 class="h2">
                            TITLE
                            
                            <div class="text-muted">
                                <small>
                                    Sample subtitle.
                                </small>
                            </div>
                        </h3>
                        
                        <p class="lead">
                            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
                            porta felis euismod semper. Praesent commodo cursus magna, vel 
                            scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
                        </p>
                    </div>
                    
                    <div class="col-md-5 col-md-pull-7">
                        <img
                            src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                            class="img-responsive center-block wows fadeInRight"
                            height="500"
                            width="500"
                            alt="Generic placeholder image"
                        />
                    </div>
                </article>
                
                <hr aria-hidden="true" />
                
                <article class="row section-sm">
                    <div class="col-md-7">
                        <h3 class="h2">
                            TITLE
                            
                            <div class="text-muted">
                                <small>
                                    Sample subtitle.
                                </small>
                            </div>
                        </h3>
                        
                        <p class="lead">
                            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
                            porta felis euismod semper. Praesent commodo cursus magna, vel 
                            scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
                        </p>
                    </div>
                    
                    <div class="col-md-5">
                        <img
                            src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                            class="img-responsive center-block wows fadeInRight"
                            height="500"
                            width="500"
                            alt="Generic placeholder image"
                        />
                    </div>
                </article>
                
                <hr aria-hidden="true" />
                
                <article class="row section-sm">
                    <div class="col-md-7 col-md-push-5">
                        <h3 class="h2">
                            TITLE
                            
                            <div class="text-muted">
                                <small>
                                    Sample subtitle.
                                </small>
                            </div>
                        </h3>
                        
                        <p class="lead">
                            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
                            porta felis euismod semper. Praesent commodo cursus magna, vel 
                            scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
                        </p>
                    </div>
                    
                    <div class="col-md-5 col-md-pull-7">
                        <img
                            src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                            class="img-responsive center-block wows fadeInRight"
                            height="500"
                            width="500"
                            alt="Generic placeholder image"
                        />
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
