<section
    ref="IndexJumbotron"
    id="IndexJumbotron"
    class="indexJumbotronSection"
>
    <div class="jumbotron jumbotron-light text-center">
        <div class="container">
            <div class="hidden-xs">
                <h1
                    class="animated fadeInDown"
                    data-wow-delay="1.2s"
                >
                    <img
                        src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                        class="brand-logo img-circle"
                        data-original="img/pages/splash/explore-3.jpg"
                        alt="Generic placeholder image"
                        height="100"
                        width="100"
                    />  brand
                </h1>
            </div>
            
            <div class="visible-xs-block">
                <img
                        src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                        class="brand-logo img-circle"
                        data-original="img/pages/splash/explore-3.jpg"
                        alt="Generic placeholder image"
                        height="70"
                        width="70"
                    />
                
                <h1
                    class="animated fadeInDown"
                    data-wow-delay="1.2s"
                >
                    brand
                </h1>
            </div>
                
            <p class="h4">
                Classified Ads Posting and Management
            </p>
            
            <br aria-hidden="true" />
                        
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ng-include src="'templates/index/IndexJumbotronSearchForm.html'"></ng-include>
                </div>
            </div>
        </div>
    </div>
</section>