<form
    ref="IndexJumbotronSearchForm"
    id="IndexJumbotronSearchForm"
    class="IndexJumbotronSearchForm"
    method="GET"
    acceptCharset="UTF-8"
    role="search"
>
    <div class="form-group">
        <input
            name="q"
            type="text"
            class="form-control input-lg"
            autoComplete="off"
            placeholder="Search"
            autoFocus="false"
        />
    </div>
    
    <div class="text-center">
        <button type="submit"
            class="btn btn-default psn-relative">
            &nbsp; <i class="fa fa-search" /> Search &nbsp;
        </button>
    </div>
</form>