// Jumbotron
//-----------------------------------------------------------------------------------------------------

.jumbotron {
    background-color: #e7ecf2;
}


// Panels
//-----------------------------------------------------------------------------------------------------

.panel {
    background-color: #ecf0f1;
}

.panel-default {
    background-color: #fff;
    border-color: #bdc6cf;
    
    & > .panel-heading {
        background-color: #f2f5f6;
        border-color: #bdc6cf;
        color: #34495e;
    }
    
    & > .panel-footer {
        background-color: #f2f5f6;
        border-color: #bdc6cf;
    }
}

.panel-muted {
    background-color: #fff;
    border-color: #bdc6cf;
    
    & > .panel-heading {
        background-color: #e3e9f0;
        border-color: #bdc6cf;
        color: #34495e;
    }
    
    & > .panel-footer {
        background-color: #f2f5f6;
        border-color: #bdc6cf;
    }
}

.panel-primary {
    background-color: #fff;
    border-color: #bdc6cf;
    
    & > .panel-heading {
        background-color: #51a8ff;
        border: 1px solid #3d81ff;
        margin: -1px -1px 0;
        color: #fff;
    }
    
    & > .panel-footer {
        background-color: #f2f5f6;
        border-color: #bdc6cf;
    }
}

.panel-info {
    background-color: #fff;
    border-color: #bdc6cf;
    
    & > .panel-heading {
        background-color: #ff52ff;
        border: 1px solid #bf3aff;
        margin: -1px -1px 0;
        color: #fff;
    }
    
    & > .panel-footer {
        background-color: #f2f5f6;
        border-color: #bdc6cf;
    }
}

.panel-success {
    background-color: #fff;
    border-color: #bdc6cf;
    
    & > .panel-heading {
        background-color: #52a900;
        border: 1px solid #3d8100;
        margin: -1px -1px 0;
        color: #fff;
    }
    
    & > .panel-footer {
        background-color: #f2f5f6;
        border-color: #bdc6cf;
    }
}

.panel-warning {
    background-color: #fff;
    border-color: #bdc6cf;
    
    & > .panel-heading {
        background-color: #ffd850;
        border: 1px solid #e8ad43;
        margin: -1px -1px 0;
        color: #fff;
    }
    
    & > .panel-footer {
        background-color: #f2f5f6;
        border-color: #bdc6cf;
    }
}

.panel-danger {
    background-color: #fff;
    border-color: #bdc6cf;
    
    & > .panel-heading {
        background-color: #ff5252;
        border: 1px solid #bf3a3a;
        margin: -1px -1px 0;
        color: #fff;
    }
    
    & > .panel-footer {
        background-color: #f2f5f6;
        border-color: #bdc6cf;
    }
}


// Wells
//-----------------------------------------------------------------------------------------------------

.well {
    background-color: #f4f6f7;
    border-color: #bdc6cf;
}
