.bg-muted {
    background-color: #e7ecf2;
}

.bg-primary {
    background-color: #d9edff;
    color: $text-color;
}

.bg-success {
    background-color: #d9edbf;
}

.bg-info {
    background-color: #ffd9ff;
}

.bg-warning {
    background-color: #fef9d0;
}

.bg-danger {
    background-color: #ffd9d9;
}

.text-muted {
    color: #7991ad;
}

.text-primary {
    color: #3d81ff;
}

.text-success {
    color: #3d8100;
}

.text-info {
    color: #bf3aff;
}

.text-warning {
    color: #e8ad43;
}

.text-danger {
    color: #bf3a3a;
}