<div ref="SettingsPage" id="SettingsPage" class="page">
    <div class="section-sm container">
        <div class="row">
            <div class="col-sm-3">
                <ng-include src="'templates/settings/SettingsNav.html'"></ng-include>
            </div>
            
            <div class="col-sm-9">
                <ng-include src="'templates/settings/SettingsContent.html'"></ng-include>
            </div>
        </div>
    </div>
    
    <ng-include src="'templates/global/Footer.html'"></ng-include>
</div>
