<main>
    <header class="page-header">
        <h1>Authentication</h1>
    </header>
    
    
    <div class="panel panel-smoke">
        <div class="panel-heading">Change Password</div>
        <div class="panel-body">
            Panel content
        </div>
    </div>
    
    <div class="panel panel-smoke">
        <div class="panel-heading">Facebook</div>
        <div class="panel-body">
          Panel content
        </div>
    </div>
    
    <div class="panel panel-smoke">
        <div class="panel-heading">Google</div>
        <div class="panel-body">
          Panel content
        </div>
    </div>
</main>
