.navbar-default {
    background-color: #c6cbcf;
    border-color: #c6cbcf;
    border-width: 0;
    
    & .navbar-brand {
        color: #fff;
        
        &:focus,
        &:hover {
            color: #fff;
        }
    }
    
    & .navbar-text {
        color: #fff;
    }
    
    & .navbar-nav > li > a {
        color: #fff;
        
        &:focus,
        &:hover {
            color: #fff;
        }
    }
    
    & .navbar-nav > .active > a,
    & .navbar-nav > .active > a:focus,
    & .navbar-nav > .active > a:hover {
        background-color: #1abc9c;
        color: #fff;
    }
    
    & .navbar-nav > .open > a,
    & .navbar-nav > .open > a:focus,
    & .navbar-nav > .open > a:hover {
        background-color: #1abc9c;
        color: #fff;
    }
}

.navbar-inverse {
    background-color: #34495e;
    border-color: #34495e;
    border-width: 0;
    
    & .navbar-brand {
        color: #fff;
        
        &:focus,
        &:hover {
            color: #1abc9c;
        }
    }
    
    & .navbar-text {
        color: #fff;
    }
    
    & .navbar-nav > li > a {
        color: #fff;
        
        &:focus,
        &:hover {
            color: #1abc9c;
        }
    }
    
    & .navbar-nav > .active > a,
    & .navbar-nav > .active > a:focus,
    & .navbar-nav > .active > a:hover {
        background-color: #1abc9c;
        color: #fff;
    }
    
    & .navbar-nav > .open > a,
    & .navbar-nav > .open > a:focus,
    & .navbar-nav > .open > a:hover {
        background-color: #1abc9c;
        color: #fff;
    }
}








