<div ref="ProfilePage" id="ProfilePage" class="page">
    <div class="section-sm container">
        <div class="row">
            <div class="col-sm-3">
                <ng-include src="'templates/profile/ProfileNav.html'"></ng-include>
            </div>
            
            <div class="col-sm-9">
                <ng-include src="'templates/profile/ProfileContent.html'"></ng-include>
            </div>
        </div>
    </div>
    
    <ng-include src="'templates/global/Footer.html'"></ng-include>
</div>
