<main ref="ProfileContent" id="ProfileContent">
    <div class="cover panel panel-default">
        <div class="panel-block">
            <div class="panel-thumbnail">
                <img class="img-responsive" alt="Generic Placeholder" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" style="width: 100%; height: 200px;">
                
                <div class="panel-overlay hide">
                    <h3 class="panel-overlay-title"></h3>
                    <div class="panel-overlay-description"></div>
                </div>
            </div>
            
            <div class="panel-body">
                <div class="media">
                    <div class="media-left">
                        <a href="javascript:void(0)">
                            <img
                                class="media-object"
                                alt="64x64"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                style="width: 60px; height: 60px;"
                            />
                        </a>
                    </div>
                    
                    <div class="media-body">
                        <h1 class="h3 panel-title media-heading">
                            <a href="javascript:void(0)">Randell Tuazon</a>
                        </h1>
                    </div>
                    
                    <div class="media-right">
                        <button type="button" class="btn btn-primary btn-lg">
                            Follow
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="well">
        <header class="page-header media-heading">
            <h1>Profile</h1>
        </header>
        
        <br aria-hidden="true" />
        
        <section>
            <article>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </p>
                
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </p>
                
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </p>
                
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </p>
            </article>
        </section>
    </div>
</main>
